[2017-03-09 17:14] fabianLeon opened #1 "actualizacion version generator-oas"

[2017-03-13 14:26] fabianLeon opened #4 "Definición de internacionalizacion para información de vistas"

[2017-03-13 14:27] fabianLeon commented on #4
el comando para la implementación es
yo oas:constant data

[2017-03-13 18:45] #4 closed

[2017-03-13 18:45] fabianLeon commented on #1
Se realiza actualizacion de la version de generator-oas@0.0.16

[2017-03-13 18:58] fabianLeon commented on #1
se complementa readme.md

[2017-03-13 18:58] #1 closed

[2017-03-13 20:22] fabianLeon opened #10 "interfaz cambio de lenguaje y texto de todas las vistas"

[2017-03-14 06:49] fabianLeon opened #13 "grunt build no crea directivas y tampoco añade fonts de ui-grid"

[2017-03-15 04:28] fabianLeon commented on #13
se resuelve añadiendo al copy de grunt build fuentes de ui-grid y vistas

[2017-03-15 04:28] #13 closed

[2017-03-15 21:04] salcedogeiner opened #17 "modulo gestion cuentas contables"
Se ampliará con módulo que gestione cuentas contables para los procesos del sistema

[2017-03-21 18:32] fabianLeon opened #18 "revision y correccion de vistas CDP, RP y RUBRO"

[2017-03-31 18:13] fabianLeon opened #24 "corrección estilos jshint"
Creo esta issue y la rama issue/24 para limpiar un poco los errores de jhsint, porfavor estar pendientes del desarrollo y hacer las correcciones en cada desarrollo

[2017-04-19 07:09] fabianLeon commented on #18
Se realizó corrección de las vistas del cliente de CDP, RP y  RUBROS en compañia con el Ing. Miguel

[2017-04-19 07:09] #18 closed

[2017-04-19 16:15] fabianLeon opened #27 "Correcciones rp_solicitud_consulta"
1. cambiar color de aprobar y justificar a la derecha.
2. columnas de ui-grid con números centradas, con moneda a la derecha y con texto a la izquierda.
3. Descripción de Compromiso:
4.configuración de títulos.

[2017-04-19 16:28] fabianLeon opened #28 "Modificaciones Generales"
Se debe organizar columnas de ui-grid de tal forma que:
1.     Los números se debe centrar.
2.     Los números con moneda deben ir justificados a la derecha.
3.     Los textos deben ir justificados a la izquierda.

[2017-04-19 16:28] fabianLeon commented on #28
El formato de moneda debe estar sin centavos

[2017-04-20 20:37] fabianLeon opened #29 "Panel general en rubros"

[2017-04-24 17:20] fabianLeon opened #31 "Internacionalización"
Añadir internacionalización a vistas faltantes

[2017-04-24 19:40] fabianLeon opened #33 "FUENTES DE FINANCIACIÓN"
Añadir a módulo de fuentes de financiación a kronos

[2017-04-27 21:37] fabianLeon opened #39 "solución menú responsive y click permanente"

[2017-05-02 19:38] fabianLeon commented on #39
Se realiza pruebas de la libreria https://github.com/vsn4ik/bootstrap-submenu
pero presenta errores de incompatibilidad con angular.

hasta hora no se ha podido resolver.

[2017-05-02 19:45] fabianLeon opened #41 "solución temporal menú responsive"

[2017-05-02 20:26] faparraf opened #42 "Cambios cliente notificaciones"

[2017-05-03 15:22] fabianLeon commented on #42
Se presentan errores de compatibilidad en chrome. pendiente de revisión

[2017-05-03 15:37] fabianLeon opened #44 "Tipos de Avances"

[2017-05-11 19:50] fabianLeon commented on #24
Se resuelve codificacion de estilos

[2017-05-11 19:50] #24 closed

[2017-05-15 22:02] faparraf commented on #10
Cual es el estado de este issue, ya se encuentra solucionado?

[2017-05-15 22:03] faparraf commented on #17
Cual es el estado de este issue, ya se encuentra solucionado?

[2017-05-16 00:36] fabianLeon opened #55 "menu de aplicaciones"
Creación del menú de aplicaciones

[2017-05-30 16:33] fabianLeon commented on #27
Se realizaron los cambios en las anteriores vistas, las nuevas vistas de ui-grid se recomienda que ya vengan con estas configuraciones.

[2017-05-30 16:33] #27 closed, assigned to nobody

[2017-05-30 16:34] fabianLeon commented on #10
Se añade internacionalización en módulos faltantes, se recomienda que los nuevos módulos incluyan esta característica

[2017-05-30 16:34] #10 closed

[2017-05-30 16:35] fabianLeon commented on #31
Se añade internacionalización en módulos y vistas  faltantes, se recomienda que los nuevos módulos incluyan esta característica

[2017-05-30 16:35] #31 closed, assigned to nobody

[2017-05-30 16:37] fabianLeon commented on #41
Se resuelve responsive del menú bajo la rama issue/41, se aprovecha para cambiar color y fuentes.

[2017-05-30 16:37] #41 closed, assigned to nobody

[2017-05-30 16:40] fabianLeon commented on #55
Pendiente construir css y agrupar logos de las aplicaciones en una sola imagen

[2017-05-30 16:40] fabianLeon commented on #28
Se realizan modificaciones para presentación con rectoria, se recomienda que los nuevos módulos incluyan estas características

[2017-05-30 16:40] #28 closed, assigned to nobody

[2017-05-30 16:42] fabianLeon commented on #33
Se añade módulo de fuentes de financiación. branch que soporta esta tarea es issue/33

[2017-05-30 16:42] #33 closed, assigned to nobody

[2017-05-30 16:43] fabianLeon commented on #39
Se posterga click permanente, por ahora se da por cerrado, pues ya se resolvió el menú responsive

[2017-05-30 16:43] #39 closed, assigned to nobody

[2017-05-30 16:48] fabianLeon commented on #29
se modificaron los paneles que contienen las vistas, para incluir el contenido del módulo, pendiente que el generador construya estas vistas de ahora en adelante

[2017-05-30 16:48] #29 closed, assigned to nobody

[2017-05-30 20:27] salcedogeiner commented on #17
el modulo para la gestion de cuentas contables cuenta con la posibilidad de crar nuevas cuentas en el plan maestro y de igual manera visualizarlas, falta la modificación de estas que por reglas del negocio se tratara en otro modulo.

[2017-05-30 20:27] #17 closed

[2017-06-07 16:40] fabianLeon commented on #55
se realiza css y se integran logos en una sola imagen

[2017-06-07 16:40] #55 closed, assigned to nobody

[2017-06-07 16:40] fabianLeon commented on #44
pendiente documentación

[2017-08-09 14:43] fabianLeon commented on #44
se cierra por terminación de tarea

[2017-08-09 14:43] #44 closed, assigned to nobody

[2017-08-09 14:43] fabianLeon commented on #42
El error es causado por servidor proxy, se debe ajustar proxy en gorilla web socket

[2019-04-24 23:37] #42 closed, assigned to nobody

[2019-05-09 13:31] miguelramirez93 opened #527 "Modificar API Mongo y Cliente para separar contenedores de entorno de desarrollo"
Se debe agregar la configuracion de docker-compose para lanzar el cliente de forma separada a nivel de desarrollo

[2019-05-09 13:33] miguelramirez93 commented on #527
Se genera la correspondiente configuracion con la ayuda de @davidmm07
Pull Request -> #526

[2019-05-09 13:33] #527 closed, assigned to davidmm07, miguelramirez93

[2019-05-09 16:52] davidmm07 opened #528 "Generar dockerización unico para cliente"
Crear build y compose

[2019-05-09 17:09] davidmm07 commented on #528
issue ya creado #527 , se cierrra

[2019-05-09 17:09] #528 closed, assigned to davidmm07

[2019-05-09 20:42] JuanPiedrahita opened #529 "Redirección de las opciones de egresos a endpoins de presupuesto"

[2019-05-09 20:44] Miavega commented on #529
revision RP aprobacion-anulacion

[commit](https://github.com/udistrital/financiera_cliente/commit/ffcb79b13cb1c4beb884b68f281ef38757b20138)

[2019-05-09 21:22] JuanPiedrahita commented on #529
Se revisa y pasan los endpoints para solicitudes de CRP (https://github.com/udistrital/financiera_cliente/commit/b11140503dac398da806be0e7bcce7af890aaee1).

[2019-05-09 21:22] JuanPiedrahita commented on #529
Se revisa y pasan los endpoints para consulta de CRP ([commit](https://github.com/udistrital/financiera_cliente/commit/c374b394d9311aa1274bccf6b7f4181b10d70253)).

[2019-05-09 21:33] JuanPiedrahita opened #530 "Revisar modelo de negocio y avancede desarrollo de ingresos e ingresos sin situación de fotos para sub sistema de presupuesto de kronos - cliente"
Revisar modelo de negocio de kronos y avance de los desarrollos en los ambientesde pruebas

[2019-05-09 21:39] JuanPiedrahita commented on #530
Se realiza revisión del modelo de negocio de ingresos y modelo de base de datos teniendo en cuenta la [documentación ](https://drive.google.com/folderview?id=0B8NdjGOtWwjCMk1LMHpYQkRBeUk)  entregada por Maria C. Se genera [documento de resumen](https://docs.google.com/document/d/1zFPgNkkfhipOJV9RBEyopsuZtfB9_IutPA11nnHqvTk/edit?usp=drivesdk).

[2019-05-09 21:42] JuanPiedrahita commented on #530
Se realiza revisión de endpoints que se consumen desde el cliente para paso de api a microservicios, se genera [documento de análisis](https://docs.google.com/document/d/1YL2omZg_6JOKJrIq4I78IEFWcjPEZLjpRJAZW1g3FaA/edit?usp=drivesdk).

[2019-05-09 21:45] JuanPiedrahita opened #531 "Pasar ingresos de presupuesto a microservicio - cliente"
Redirección endpoints de ingresos a mid y crud.

[2019-05-09 21:58] JuanPiedrahita commented on #531
Se agrega servicios para consultas de apis de presupuesto en https://github.com/udistrital/financiera_cliente/commit/298ff3491dd8f420b0a50220d2da5b65a2ec6c00 y https://github.com/udistrital/financiera_cliente/commit/5db90a7bc2855c07441885a03d5a005055cbedcf.

[2019-05-09 21:59] JuanPiedrahita commented on #531
Redirección de endpoints a nuevos servicios de presupuesto para consulta de ingresos https://github.com/udistrital/financiera_cliente/commit/5c72a63b8df0dc52b41fb9f58c73fc7d1741e010 .

[2019-05-09 21:59] JuanPiedrahita commented on #531
Redirección de endpoints a nuevos servicios de presupuesto para consulta y registro de ingresos https://github.com/udistrital/financiera_cliente/commit/9d729cfbfd1062c8910bea33707cecb8859d87d3.

[2019-05-09 22:00] JuanPiedrahita commented on #531
Redirección de endpoints a nuevos servicios de presupuesto para registro de ingresos por transferencias https://github.com/udistrital/financiera_cliente/commit/f4ea7ad9d80af5b14d25d244d5276a7334289048.

[2019-05-09 22:00] JuanPiedrahita commented on #531
Redirección de endpoints a nuevos servicios de presupuesto para consulta de ingresos sin situación de fondos https://github.com/udistrital/financiera_cliente/commit/2f2f53858033910528ba5ed50d1e8bec42ea5e74.

[2019-05-09 22:00] JuanPiedrahita commented on #531
Redirección de endpoints a nuevos servicios de presupuesto para registro de ingresos sin situación de fondos https://github.com/udistrital/financiera_cliente/commit/d8ea23e65fbdffade83d1404b9a38f7347dbb56c.

[2019-05-09 22:01] JuanPiedrahita opened #532 "Pasar egresos - CDP a microservicio - Cliente"
Redirección endpoints de egresos a mid y crud.

[2019-05-09 22:04] JuanPiedrahita commented on #532
Redirección de endpoints a nuevos servicios de presupuesto para anulación de CDP's https://github.com/udistrital/financiera_cliente/commit/316cc9a591fbf8e0a10ff5094a83153af30cb272.

[2019-05-09 22:04] JuanPiedrahita commented on #532
Redirección de endpoints a nuevos servicios de presupuesto para consulta de CDP's https://github.com/udistrital/financiera_cliente/commit/d8ea23e65fbdffade83d1404b9a38f7347dbb56c.

[2019-05-09 22:04] JuanPiedrahita commented on #532
Redirección de endpoints a nuevos servicios de presupuesto para solicitud de CDP's https://github.com/udistrital/financiera_cliente/commit/00ed348a2e71c625f1cc759cf10cb9cec358f636.

[2019-05-10 00:36] miguelramirez93 commented on #530
Los documentos referenciados son los mismos de este [issue](https://github.com/udistrital/api_financiera/issues/245) pero la tarea se refiere al cliente , los documentos contienen datos de end points pero no de las funcionalidades a nivel cliente . Por favor dar las razones por las cuales no se generarón documentos de analisis de los módulos del cliente

[2019-05-10 00:43] miguelramirez93 commented on #532
Se revisa el redireccionamiento , todo acorde a lo esperado.

[2019-05-10 04:12] JuanPiedrahita commented on #530
Miguel se dejan los mismos documentos porque desde el analisis que se realizo se discrimaron los endpoints según eran consumidos por los diferentes modulos del cliente, asi que, en el [documento  de análisis](https://docs.google.com/document/d/1YL2omZg_6JOKJrIq4I78IEFWcjPEZLjpRJAZW1g3FaA/edit) se puede ver discriminados los endpoints que se consumen teniendo en cuenta cada submenu del arbol del cl

[2019-05-12 22:09] miguelramirez93 opened #533 "Ajustar funcionalidades de proceso de rubros,apropiaciones y productos en el cliente de financiera"
Se debe ajustar el código del cliente para que se ajuste a los nuevos API'S de presupuesto

[2019-05-12 22:16] miguelramirez93 commented on #533
1. Se agrega el nuevo servicio para comunicación con API'S de presupuesto.
2. Se ajusta creación y borrado de rubros.
3. Se ajusta la asignación de productos a los rubros.
4. Se ajusta control de saldos, se quita posibilidad de modificar apropiaciones aprobadas.
(https://github.com/udistrital/financiera_cliente/commit/2a982ceda8868b75d4eed47e3d231440cf01cf45)
(https://github.com/udistrital/financi

[2019-05-14 14:33] Miavega commented on #530
Se apoya la revisión de endpoinst consumidos desde el cliente para paso de API a microservicios, identificándolos en el [documento](https://docs.google.com/document/d/1YL2omZg_6JOKJrIq4I78IEFWcjPEZLjpRJAZW1g3FaA/edit)

[2019-05-14 15:30] miguelramirez93 commented on #530
Revisado y aprobado el documento .

[2019-05-14 15:33] miguelramirez93 commented on #531
Revisados los commits y aprobados

[2019-05-15 15:00] mcrubianot opened #534 "Macroproceso del Subsistema de Tesorería"

[2019-05-15 15:02] mcrubianot commented on #534
Se realiza el levantamiento del Macroproceso del Subsistema de Tesorería

Se encuentra en el siguiente link.
https://drive.google.com/open?id=1z8io_dwuO_BPO7dc_KgSotwHrka-McJZ

[2019-05-15 15:47] mcrubianot opened #535 "Macroproceso del Subsistema de Central de Cuentas"

[2019-05-15 15:48] mcrubianot commented on #535
Se levanta el respectivo macroproceso, se encuentra en el siguiente link.

https://www.draw.io/?state=%7B%22folderId%22:%2217yJxosIs5NbeUlxmeITTfSArwnCdhY_V%22,%22action%22:%22create%22,%22userId%22:%22115577396714392713055%22%7D#G1nSiCQDubfyf746-SENkcoiuaj3vE7_f8

[2019-05-15 20:42] mcrubianot opened #536 "Macroproceso del Subsistema de Contabilidad"

[2019-05-17 03:31] mcguegi opened #537 "Revisión y análisis de nuevas características de Sistema KRONOS"
Se realiza un análisis de los siguientes repositorios

- financiera_cliente
- financiera_mongo_crud
- presupuesto_mid
- presupesto_crud

Con el fin de observar y tener en cuenta los últimos cambios de algunos módulos para aplicarlo al módulo de Fuentes de Financiamiento. Esta información está siendo consignada en un documento.

[2019-05-17 15:04] mcguegi commented on #537
Se adjunta el enlace al documento elaborado resaltando las nuevas características del subsistema de presupuesto
[Documento Disponible Aquí](https://docs.google.com/document/d/1q4gadj_Th09LAfYvEfC_854rdiHUgC9omPU8Depn0ag/edit?usp=sharing)

[2019-05-22 17:06] mcguegi commented on #537
Se realiza análisis del Cliente y sus correspondientes servicios .

[2019-05-22 17:26] CarlosGutierrezArdila commented on #537
Se hace análisis de cada uno de los endpoint del mid encontrando situaciones de código repetido y llamadas estáticas a servicios, así mismo se identifican los elementos del modelo de datos que tienen que ver con fuentes de financiamiento.

[2019-05-23 20:05] miguelramirez93 commented on #537
Se revisa el documento, el analisis cumple con la meta de la tarea .

[2019-05-24 16:41] mcrubianot opened #538 "Macroproceso del Subsistema de Presupuesto"

[2019-05-24 16:43] mcrubianot commented on #538
Se levanta el respectivo macroproceso y se presenta a la Sección de Presupuesto

https://drive.google.com/open?id=1dsmYkB8O8gSn1mHVwoMpJCowxax3sINa

[2019-05-24 16:44] mcrubianot commented on #538
Se presenta al usuario. Se levanta el acta No.1.

https://docs.google.com/document/d/104-a-y9FpNpHfsDREbqC29QwVKNCHnkEguCNycp7jYU/edit

[2019-05-24 16:45] mcrubianot commented on #538
Se hacen los ajustes solicitados de acuerdo al acta anterior. Se registra en el siguiente link.

https://www.draw.io/?state=%7B%22ids%22:%5B%221-0O1vMIhGNrdi-8v8BsyQKdlTxHUGOT9%22%5D,%22action%22:%22open%22,%22userId%22:%22115577396714392713055%22%7D#G1-0O1vMIhGNrdi-8v8BsyQKdlTxHUGOT9

[2019-05-24 16:49] mcrubianot commented on #538
Acta sin aprobar por parte del usuario

[2019-05-24 17:09] mcrubianot commented on #538
Se recibe el siguiente correo

De: Janeth Molina Velandia <jmolinav@udistrital.edu.co>
Date: vie., 24 may. 2019 a las 11:52
Subject: Re: Acta No.01 - Kronos
To: Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
Cc: Presupuesto Universidad Distrital <presup@udistrital.edu.co>

Buenos días, el acta esta de acuerdo a lo hablado y establecido en la reunión.

Cordialmente

J

[2019-05-24 17:37] mcrubianot commented on #536
Se asigna esta tarea al ingeniero Fausto Puerto, quien será el encargado de levantar los requerimientos de este Subsistema.

[2019-05-24 20:31] mcrubianot commented on #534
Se ajusta de acuerdo a lo solicitado en acta No.2 de Kronos.

[2019-05-24 20:32] mcrubianot opened #539 "Levantamiento de requerimientos Subsistema de Tesorería"

[2019-05-24 20:33] mcrubianot commented on #539
Se realiza el primer acercamiento con la Sección de Tesorería. Se levanta el Acta No. 2 del Subsistema de Tesorería

https://docs.google.com/document/d/1d13naGKGOrcBTVJylNR139awzL8Ar_7iYV0bfMYDmo0/edit

[2019-05-24 20:34] mcrubianot commented on #539
Se comparte con la Sección de Tesorería para aprobación.

[2019-05-24 20:34] mcrubianot opened #540 "Levantamiento de Requerimientos del procedimiento de Avances"

[2019-05-24 21:20] mcrubianot commented on #540
En desarrollo de esta tarea se levanta el acta No. 3 Gestión de Avances - Subsistema de Tesorería

https://docs.google.com/document/d/1cV6FCfl16wAE_kNxuqdosrE3uvMgaC94I6Vb0rixXZc/edit

[2019-05-28 16:02] mcrubianot commented on #540
Se recibe el siguiente correo

Legalizacion Avances <legalizacionavances@udistrital.edu.co>
--
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 28 may. 2019 8:18
asunto: | RE: Acta No.3 - Gestión Avances - Kronos - Invitación para editar

[2019-05-31 15:58] mcrubianot commented on #540
Se envió el siguiente correo

de: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
-- | --
para: | Legalizacion Avances <legalizacionavances@udistrital.edu.co>
fecha: | 31 may. 2019 10:55
asunto: | Re: Acta No.3 - Gestión Avances - Kronos - Invitación para editar

Hola pia buenos días.

El diagrama al que Usted se refiere está publicado en el Sigud  GRF-PR-012, Avances. Al estar allí,

[2019-05-31 20:56] mcrubianot opened #541 "Levantamiento de las historias de usuario para el procedimiento de avances"

[2019-05-31 20:58] mcrubianot commented on #541
Se da inicio al levantamiento de los casos de uso para el tema de solicitud de avances

https://docs.google.com/spreadsheets/d/1FscrBIsubLb3lk_mDGqYxbszrxKSsBg1euNeOTF2fwM/edit#gid=852078008

Y para legalización de avances

https://docs.google.com/spreadsheets/d/1FsaVn9tYXSHu1UhCT9COGTkX2JXS4dhkAK_h1Dym_Ow/edit#gid=852078008

[2019-06-01 21:27] miguelramirez93 opened #542 "Elaborar documento de analisis de refactorización subsistema de presupuesto"
- [x] Generar Documento de Analisis De la refactorización del subsistema de presupuesto

[2019-06-01 21:30] miguelramirez93 commented on #542
Se genera el insumo de la tarea en el siguiente [link](https://docs.google.com/document/d/1dBzc24CWzJahx3QcroOavg8AqlvGnFeOTffbmh_lnjM/edit?usp=sharing)

[2019-06-10 13:43] mcrubianot opened #543 "Acompañamiento en la construcción del documento "Análisis general de los procesos""

[2019-06-10 13:46] mcrubianot commented on #543
Teniendo en cuenta el requerimiento del Gerente del Proyecto, ser realiza el acompañamiento en la construcción del documento "Análisis general de los procesos", el cual contiene toda la información relacionada con la parte documental del proyecto de Sistema de Gestión Financiera - Kronos.

Actividades realizadas durante los días 6, 7 y 10 de junio de 2019

https://docs.google.com/spreadsheets/d/1F

[2019-06-10 17:34] mcrubianot commented on #543
Se relacionan en este archivo los procedimientos que están relacionados en el Sigud, los cuales se modificarán, teniendo en cuenta que ya se integraría la interoperabilidad con los otros sistemas, pero se dejan relacionados para mayor comprensión del modelo de negocio.

[2019-06-11 12:37] miguelramirez93 commented on #529
Revisado. No se tienen observaciones

[2019-06-11 15:36] #529 closed, assigned to Miavega, JuanPiedrahita

[2019-06-11 15:36] #542 closed, assigned to miguelramirez93

[2019-06-11 15:37] #537 closed, assigned to mcguegi, CarlosGutierrezArdila

[2019-06-11 15:38] #533 closed, assigned to miguelramirez93

[2019-06-11 15:38] #530 closed, assigned to Miavega, JuanPiedrahita

[2019-06-11 15:38] #531 closed, assigned to JuanPiedrahita

[2019-06-11 15:38] #532 closed, assigned to JuanPiedrahita

[2019-06-11 16:20] jjvargass commented on #529
observaciones:

1. Logica quemada
https://github.com/udistrital/presupuesto_crud/commit/d056deb654cd2637d996f8f11fee27e1ccd2203c#diff-f35a5927f0a35003f3a58a6a9bad3a1eR205

2. la serialización que se panteo para las apis no se esta realizando
https://github.com/udistrital/presupuesto_crud/commit/d056deb654cd2637d996f8f11fee27e1ccd2203c#diff-f35a5927f0a35003f3a58a6a9bad3a1eR164

[2019-06-12 14:18] mcrubianot commented on #535
Se puede cerrar queda pendiente la validación de este macro con el usuario, lo cual se levantará en un nuevo issue.

[2019-06-12 14:19] mcrubianot commented on #536
Se puede cerrar, de acuerdo a lo establecido esta es una tarea que le ha sido asignada al ingeniero Fausto.  Considero que él tendría que abrir uno nuevo.

[2019-06-12 14:21] mcrubianot commented on #539
A la fecha no se ha recibido aprobación del acta por parte de la Sección de Tesorería.

Una vez se reciba la respectiva aprobación, se podrá cerrar la tarea.

[2019-06-12 14:46] mcrubianot commented on #540
No se ha recibido observación alguna por parte del usuario. De nuestra parte se presentó el procedimiento y fue avalado.

Se puede dar por cerrado el issue.

[2019-06-12 14:47] mcrubianot commented on #541
Está pendiente por revisar con el usuario y firma de aprobación.

[2019-06-12 17:05] Soulfilip-UD commented on #543
El procedimiento fue documentado, y lo referente al seguimiento fue finalizado. Se cierra el Issue

[2019-06-12 17:05] #543 closed, assigned to mcrubianot

[2019-06-12 17:05] Soulfilip-UD commented on #538
El procedimiento fue documentado, y lo referente al seguimiento fue finalizado. Se cierra el Issue

[2019-06-12 17:05] #538 closed, assigned to mcrubianot

[2019-06-12 17:05] Soulfilip-UD commented on #534
El procedimiento fue documentado, y lo referente al seguimiento fue finalizado. Se cierra el Issue

[2019-06-12 17:05] #534 closed, assigned to mcrubianot

[2019-06-13 15:44] Soulfilip-UD commented on #540
Se da por finalizado el Issue

[2019-06-13 15:44] #540 closed, assigned to mcrubianot

[2019-06-13 15:46] Soulfilip-UD commented on #536
Se da por finalizado el Issue

[2019-06-13 15:46] #536 closed, assigned to mcrubianot

[2019-06-13 15:46] Soulfilip-UD commented on #535
Se da por finalizado el Issue

[2019-06-13 15:46] #535 closed, assigned to mcrubianot

[2019-06-13 19:27] mcrubianot opened #545 "Preparación del plan de trabajo a ser definido con las Secciones de Presupuesto, Tesorería y Central de Cuentas"

[2019-06-13 19:30] mcrubianot opened #546 "Preparar comunicación para la Oficina Asesora de Planeación"

[2019-06-13 19:31] mcrubianot commented on #545
Se tiene listo el documento Plan de Trabajo, para ser definido con las Secciones de Presupuesto, Tesorería y Central de Cuentas y definir las fechas en las cuales se deberá trabajar en la revisión de los procedimientos y/o ajustes que se deban hacer a los ya existentes.

https://docs.google.com/spreadsheets/d/1Ac6iB5ipuL92iK7PA-dq3Cae12jWAzQ6NjtvTqy9Bf4/edit#gid=1844491523

[2019-06-13 19:32] mcrubianot commented on #546
Se envia el siguiente correo con el fin de que se nos asigne fecha para reunión.

de: | Oficina Asesora de Sistemas Universidad Distrital<computo@udistrital.edu.co>
-- | --
para: | Oficina Asesora de Planeación y Control Universidad Distrital <planeac@udistrital.edu.co>
Cc: | Presupuesto Universidad Distrital <presup@udistrital.edu.co>
Cco: | mcrubianot@udistrital.edu.co
fecha: | 12 jun. 2019 12:4

[2019-06-26 15:37] mcrubianot opened #547 "Levantamiento modelo actual de necesidades"

[2019-06-26 15:38] mcrubianot commented on #547
Se recopila la información que se tiene con respecto a necesidades de acuerdo a las actividades realizadas durante las vigencias anteriores::

https://drive.google.com/open?id=1BWJso9LIYmQD052xvBZ0QFO0t2eAUQjB

https://drive.google.com/open?id=1XKH5oDAO449-xQY5o1IE5_jpAZRe9iNf

https://drive.google.com/open?id=1QBbiB8mo205dLAxuoFoeC5bxoFM_ea8b

[2019-06-26 15:39] mcrubianot commented on #547
Se inicia el levantamiento del modelo actual

https://docs.google.com/document/d/1e2DUwxetuoXfyK_aCSECiU12PwQS-v2DhPeE5Wq2Xec/edit

[2019-06-26 20:00] mcrubianot commented on #546
A la fecha no se ha recibido respuesta alguna.

[2019-06-26 20:01] mcrubianot commented on #547
Se da por terminado el levantamiento, quedo a la espera de las aclaraciones que me sean solicitadas al respecto.

[2019-06-26 20:03] mcrubianot opened #548 "Levantamiento modelo actual de solicitudes de certificados de disponibilidad presupuestal"

[2019-06-26 20:03] mcrubianot commented on #548
Se da inicio al levantamiento del modelo

https://docs.google.com/document/d/1Me2Z_l13Ee4Epnzcv5cvW2W4ZU_i2oagR-77TZvB_Z4/edit

[2019-06-26 20:45] mcrubianot commented on #548
Se da por terminado el levantamiento, quedo a la espera de las aclaraciones que me sean solicitadas al respecto.

[2019-06-26 20:46] mcrubianot opened #549 "Levantamiento modelo actual de solicitudes de certificados de registro presupuestal"

[2019-06-28 14:56] mcrubianot commented on #549
Se realiza el levantamiento correspondiente, se anexa el documento pertinente.

https://docs.google.com/document/d/1Ht3mX9fx_Id5gQzdSkyj5YDm6hyRxR3qY3cM2sU1xZM/edit

[2019-06-28 14:56] mcrubianot commented on #549
Se da por terminado el levantamiento, quedo a la espera de las aclaraciones que me sean solicitadas al respecto.

[2019-07-03 15:44] mcrubianot opened #550 "Preparar Reunión Subsistema de Presupuesto para el 3/07/2019"

[2019-07-03 16:03] mcrubianot commented on #550
Se hace el levantamiento del Acta No. 5 del Subsistema de Kronos

https://docs.google.com/document/d/1UZ7jvlbNnXW46_y9hb9Kg6sQEo7DFRsKKocBFDhGOG4/edit

[2019-07-03 16:03] mcrubianot commented on #550
Se aplaza la reunión por solicitud de la Sección de Presupuesto

[2019-07-03 16:07] mcrubianot commented on #550
Se anexa correo de enviado por

De: Presupuesto Universidad Distrital <presup@udistrital.edu.co>
Date: mié., 3 jul. 2019 a las 11:03
Subject: Re: Revisión Procedimientos Subsistema de Presupuesto del Sistema de Gestión Financiero Kronos
To: Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>

Cordial saludo
De manera atenta, me permito informar que por motivos de informes

[2019-07-08 15:13] mcrubianot opened #551 "Elaboración Flujogramas Kronos"

[2019-07-08 15:17] mcrubianot commented on #551
Se elabora el respectivo Flujograma de solicitud y aprobación de los certificados de registro presupuestal

https://www.draw.io/?state=%7B%22ids%22:%5B%221yXu04niuyCF2BqTeAdTqTI3Mdktk-GCr%22%5D,%22action%22:%22open%22,%22userId%22:%22115577396714392713055%22%7D#G1yXu04niuyCF2BqTeAdTqTI3Mdktk-GCr

[2019-07-08 15:40] mcrubianot commented on #551
Se elabora el Fujograma de Preasignación Apropiación Inicial

https://www.draw.io/?state=%7B%22folderId%22:%221EDQlGka2L1xpriFUyeXuhgGYuetVyLN3%22,%22action%22:%22create%22,%22userId%22:%22115577396714392713055%22%7D#G1LbLmONlMflI8lfWY8guPx87edBUvrQYV

[2019-07-09 13:22] mcrubianot commented on #551
Se elabora el Fujograma de Creación concepto tesorales

https://www.draw.io/?state=%7B%22folderId%22:%220B8NdjGOtWwjCZUVHdFdkVkQ0QU0%22,%22action%22:%22create%22,%22userId%22:%22115577396714392713055%22%7D#G1QCNsm1lu6a-Ypvoz31a_szvuihQ35d2o

[2019-07-09 13:31] mcrubianot opened #552 "Reunión de Presentación de Kronos al IDEXUD"

[2019-07-09 13:32] mcrubianot commented on #552
Se realizó presentación el día 08/07/2019 en las instalaciones del Idexud, con el fin de poner en conocimiento el proyecto. Se inición a las 2:30 p.m. hasta las 4:00 p.m.

[2019-07-09 15:16] mcrubianot commented on #551
Se revidan los flijogramas de la gestión de bancos y se determina que estén los documentos de análisis asi:

Creación de bancos
 https://www.draw.io/?state=%7B%22ids%22:%5B%2216aiwxRaL680d6LQD8hqb7YvbwNkPr2oH%22%5D,%22action%22:%22open%22,%22userId%22:%22115577396714392713055%22%7D#G16aiwxRaL680d6LQD8hqb7YvbwNkPr2oH

Sucrusales
https://docs.google.com/document/d/1bj2aC-7OkQn0Vm_38ZUvlaTrY-4aGEV6Pj

[2019-07-09 15:29] mcrubianot opened #553 "Versión2 de Historias de Usuario de Rubros, Apropiaciones, Productos y Fuentes de Financiamiento"
- Rubros
- Apropiaciones
- Productos
- Fuentes de financiamiento

[2019-07-09 16:56] mcrubianot commented on #553
Historia de Usuario Registar Rubros V2
https://docs.google.com/spreadsheets/d/1PfzZt_qjsvFEux-SwIKk1gdaTtRp2OhI_LFtZc1iyVc/edit#gid=1979612365

[2019-07-09 17:36] mcrubianot commented on #552
https://drive.google.com/open?id=1WnoGpp3-c_Ac8g6e1ShZJR23JsOtFNnQf3HyOL2inyQ

[2019-07-10 14:30] mcrubianot commented on #553
Historia de Usuario Consultar Rubros

https://docs.google.com/spreadsheets/d/1lTlR-dQuSJyVDfLMF77HkW2y1YNhuT7NSw6xOeztYn0/edit#gid=592770626

[2019-07-10 15:54] DianaPatriciaRamirez commented on #549
@mcrubianot por favor adjuntar el correo electrónico o el acta de reunión con las firmas, en dónde se encuentre la validación del usuario final, de los requerimientos levantados con ellos.

[2019-07-10 15:55] DianaPatriciaRamirez commented on #548
@mcrubianot por favor adjuntar el correo electrónico o el acta de reunión con las firmas, en dónde se encuentre la validación del usuario final, de los requerimientos levantados con ellos.

[2019-07-10 17:45] mcrubianot commented on #551
Con respecto a los flujogramas que se están elaborando, es preciso indicar que a la fecha no se han podido validar con los usuarios pues no se han podido hacer las reuniones correspondientes. No existen actas de validación por parte del usuario final.

[2019-07-15 14:08] mcrubianot opened #554 "Reuniones de los meses de junio y julio de 2019"

[2019-07-15 14:16] mcrubianot commented on #554
Reuniones semanales: Junio 17, 25, Julio 8 - 9 - 11 esta ultima fue con el Sr. Vicerrector Adtivo y Financiero

Reuniones de análisis de procedimientos con grupo de trabajo: 10 de julio y 12 de julio

[2019-07-16 15:15] mcrubianot opened #555 "Elaborar V2 de Historias de Usuario de Creación de Productos, Asignar Producto a un Rubro"

[2019-07-16 15:15] mcrubianot commented on #554
Reunión de trabajo con los desarrolladores para entendimiento del modelo de negocio de fuentes de financiamiento 12/07/2019

[2019-07-16 15:16] mcrubianot commented on #554
Revisión de procedimientos de creación de productos con el ingeniero David.

[2019-07-16 15:16] mcrubianot commented on #554
Revisión de mockups con la Ing. Maria Camila sobre productos

[2019-07-16 15:53] mcrubianot commented on #555
Se crea la historia de Usuario de Crear producto y consultar producto V2

https://docs.google.com/spreadsheets/d/1nWi12BAHfiVE7UoT4Mz9yY_RbJNp7jgWYMl-fvrf-18/edit#gid=852078008

[2019-07-16 16:58] mcrubianot commented on #555
Asignar un producto a un rubro

https://docs.google.com/spreadsheets/d/1YskU_S0EJAe_hOhyw5B8mOlbAJDxN0gM8X-w8ffWDgs/edit#gid=852078008

[2019-07-17 15:24] mcrubianot commented on #553
Historia de usuario  Apropiación Inicial

https://docs.google.com/spreadsheets/d/1BNvQMhry-nAiJyrE-_z_JCnN0VHAStdYHv1KVkmR6zg/edit#gid=852078008

[2019-07-17 17:32] mcrubianot opened #556 "Elaborar V2 de Historias de Usuario de la Gestión de Necesidades"

[2019-07-17 17:34] mcrubianot commented on #556
Registrar, consultar y aprobar necesidades

https://docs.google.com/spreadsheets/d/1QC-FvV0QSaB_0jhuVh2cXt9kWfhNhKBeNuGDaKNRvAU/edit#gid=1977270240

[2019-07-17 20:48] mcrubianot commented on #556
Registrar Solicitud de Certificado de Disponibilidad Presupuestal y aprobar Solicitud de Certificado de Disponibilidad Presupuestal

https://docs.google.com/spreadsheets/d/1K8HNBP03IUDT_e22Pfv7uBhijHmFfaJNXEpsKbiPWEA/edit#gid=852078008

[2019-07-18 14:50] mcrubianot commented on #556
Registrar y Consultar Solicitud de Certificado de Registro Presupuestal

https://docs.google.com/spreadsheets/d/1ElSQpXiqe8UrMWaSKJNm7-FhcwvEp7N5_0_gQyKgCDk/edit#gid=852078008

[2019-07-18 20:53] mcrubianot opened #557 "Elaborar V2 de Historias de Usuario de Anulaciones presupuetales"

[2019-07-18 20:54] mcrubianot commented on #557
Se elaboran las V2 de las historias de usuario de anulaciones totales  y parciales de CDP

https://docs.google.com/spreadsheets/d/1PMjr74pHUu4vhGZIevQ7XI3bdz8579Emh7tP4xzcbKg/edit#gid=852078008

[2019-07-18 20:54] mcrubianot commented on #557
Se elaboran las V2 de las historias de usuario de anulaciones totales y parciales de CRP

https://docs.google.com/spreadsheets/d/174SKw8YPJ_gG0bGLmOBa83yEIHHg4GyAg6acc5Tjqno/edit#gid=852078008

[2019-07-22 12:48] Soulfilip-UD commented on #552
Tarea Realizada

Proceeding to close Issue 👾

[2019-07-22 12:48] #552 closed, assigned to mcrubianot

[2019-07-22 13:01] Soulfilip-UD commented on #553
Gracias por las nuevas Historias de Usuario son mucho más detalladas y claras sobre el trabajo que debe respaldar el desarrollo .
Realizar las HU de productos y Fuentes de Financiamiento en un nuevo Issue
Proceeding to close Issue 👾

[2019-07-22 13:01] #553 closed, assigned to mcrubianot

[2019-07-22 14:54] mcrubianot commented on #553
La de productos está en
https://github.com/udistrital/financiera_cliente/issues/555

El lun., 22 jul. 2019 a las 8:01, Soulfilip (<notifications@github.com>)
escribió:

--
MARIA CLAUDIA RUBIANO TORRES
Oficina Asesora de Sistemas
Ext.1111-1112

[2019-07-22 17:09] mcrubianot opened #558 "Sesión de trabajo con la Sección de Tesorería - Gestión de Banco"

[2019-07-22 17:09] mcrubianot commented on #558
Se programó reunión para el día 23 de julio de 2019 a las 8:00 a.m.

[2019-07-22 17:12] mcrubianot opened #559 "Sesión de trabajo con la Sección de Tesorería - Gestión de Ingresos"

[2019-07-22 17:14] mcrubianot opened #560 "Reunión entendimiento del modelo de negocio de contabilidad"

[2019-07-22 17:16] mcrubianot commented on #560
Se revisará en dicha sesión de trabajo los modelos de negocio del plan de cuentas contable (general y alterno), descuentos e impuestos y la gestión de comprobantes (consulta de comprobantes y creación de tipo de comprobantes) que es lo que se lleva analizado hasta el momento en este Subsistema

[2019-07-22 19:59] mcrubianot commented on #560
Se analiza en conjunto con el ingeniero Fausto Puerto, los temas antes mencionados y se comparte la información que en su momento se había trabajado para análisis.

https://drive.google.com/open?id=0B8NdjGOtWwjCZnJQSUlwMlNCXzA

[2019-07-22 20:01] mcrubianot commented on #560
Se compartieron, documentos de analisis de plan maestro, plan alterno, descuentos, comprobantes. Dentro de ellos la V1 de las historias de usuario

https://drive.google.com/open?id=11SApfT1d8YP7BmuWa-oNJoyRiNIL0gRO

[2019-07-22 20:03] mcrubianot commented on #560
de: | Maria Claudia Rubiano ... (vía Google Drive) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | fapuertoq@udistrital.edu.co
fecha: | 22 jul. 2019 15:02
asunto: | SUBSISTEMA DE CONTABILIDAD - Invitación para colaborar

mcrubianot@udistrital.edu.co te ha invitado a colaborar en la siguie

[2019-07-24 15:48] mcrubianot commented on #558
Se levanta el acta No.06 correspondiente a dicha sesión de trabajo.

https://docs.google.com/document/d/18AcYCNXf4BHa720HH4aNX-L366q5EZlWAjxJhZg1RbI/edit

[2019-07-24 16:06] mcrubianot commented on #558
Se remite la respectiva acta así:

Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
--
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | cpruiza@udistrital.edu.co,sigud.planeac3@udistrital.edu.co
fecha: | 24 jul. 2019 10:57
asunto: | Acta No.6 - Kronos - Invitación para editar

mcrubianot@udist

[2019-07-24 16:43] mcrubianot opened #561 "Sesión de trabajo con la Sección de Presupuesto"

[2019-07-24 16:44] mcrubianot commented on #561
Se realizó dicha reunión. Se levanta el acta No.7.

https://docs.google.com/document/d/1okF_kc_gJlVozaXR3v2ZuV3GiFR6bpH_IcB9vX-anA8/edit

[2019-07-24 16:47] mcrubianot commented on #561
Se remite para revisión

de: | Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | jmolinav@udistrital.edu.co,sigud.planeac3@udistrital.edu.co
fecha: | 24 jul. 2019 11:46
asunto: | Acta No.7 - Kronos - Invitación para editar

mcrubianot@udi

[2019-07-24 17:31] mcrubianot commented on #559
Teniendo en cuenta que no se encontró el bpmn propuesto para el desarrollo, se revisó el que está publicado en el sigud y no es muy claro.

Se procedio a realizar un borrador para analizar y revisar con la Sección de Tesorería

https://www.draw.io/?state=%7B%22folderId%22:%220B8NdjGOtWwjCRFFORThuMHkzV2M%22,%22action%22:%22create%22,%22userId%22:%22115577396714392713055%22%7D#G1Lh7Q9NA2h5QOPQyW3HrB

[2019-07-29 13:08] mcrubianot commented on #559
Se realiza el acta No.8 y queda pendiente como tarea revisar con el Sistema de Gestión Académica como se contaría con los servicios que le llegan a ellos del banco, para poder realizar las respectivas actas de ingreso

https://docs.google.com/document/d/10AF0mfIqDm8YTcj4utJCEPso_G7jB6WzFOVL01g3zOo/edit

[2019-07-29 13:09] mcrubianot commented on #559
Se propone reunión con el sistema de Gestión Académica para el día 29/04/2019 a las 10:00 a.m

[2019-07-29 14:08] Soulfilip-UD commented on #551
Tarea exitosa, y a la fecha se han podido validar varios flujogramas, el seguimiento se dara en otro Issue

Proceeding to close Issue 👾

[2019-07-29 14:08] #551 closed, assigned to nobody

[2019-07-29 20:32] mcrubianot opened #562 "Elaboración de Historias de Usuario Presupuesto"

[2019-07-29 20:34] mcrubianot commented on #562
Se elaboraron las siguientes historias de usuario en los formatos correspondientes

Pasivos fenecidos
https://drive.google.com/open?id=1szV0PuqKsV86jO9mk1gJTopydqIzGfLD_QAH1xgI4CQ

Reservas
https://drive.google.com/open?id=1WdR8ZvZ4qal1alt6liMNeSzIgda97RMkQYKvLpJwNjQ

Registrar y consultar CRP para reservas
https://drive.google.com/open?id=1COz6qDGakhpQuaBvJ2AHfoJu-c633utGbxKtprYwnDI

Anulación To

[2019-07-31 19:31] FaustoPuerto commented on #560
Se revisó la información, quedando a la espera de la definición por parte del área técnica de la viabilidad de mantener y afinar el desarrollo realizado a la fecha para su presentación ante el usuario delegado.

[2019-07-31 20:18] mcrubianot opened #563 "Elaboración Historias de Usuario - Presupuesto"

[2019-07-31 20:23] mcrubianot commented on #563
Cierres presupuestales

https://docs.google.com/spreadsheets/d/1nSQePYnx0zHx3VHtTxJuguSf0cCAsHEH3zYepJwj4YE/edit#gid=852078008

[2019-08-02 01:01] mcrubianot opened #564 "Revisión de Mockups - Subsistema de Presupuesto"

[2019-08-02 01:02] mcrubianot commented on #564
Se recibe el siguiente correo

de: | Edgar Felipe Canasto Jiménez<efcanastoj@udistrital.edu.co>
-- | --
para: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
fecha: | 1 ago. 2019 11:14
asunto: | Mockups Completos

Buenos Días Maria Claudia
Te hago llegar los últimos mockups, al revisar con el equipo entiendo que se han socializado y validado por completo contigo. Por lo que si tienes

[2019-08-02 01:07] mcrubianot commented on #564
Se hacen las revisiones caso y se construye el siguiente documento.

https://drive.google.com/open?id=1bPmnsT54yGOfxYEze2TVzNMu3f6f1RCL

[2019-08-02 12:54] mcrubianot opened #565 "Revisión de los reportes de Subsistema de Presupuesto"

[2019-08-02 13:00] mcrubianot commented on #565
Se inicia la revisión de los posibles reportes que se deben trabajar en el Subsistema de Presupuesto.

Parametrización
https://docs.google.com/spreadsheets/d/1xhkHkk0voMl3T9WDJ5hDI3Rb3rcQUtW9P6LxaEKdSQE/edit#gid=945652816

Ingresos
https://drive.google.com/open?id=1MiiThfvUMoJQ0J7TPpDYeGdk4QFyHGGkt28RApDj0Pc

Egresos
https://drive.google.com/open?id=1-OIK5CRvH106cvc5DYgJcTqxn-ldFMiDE-PnnBxTRaM

Se

[2019-08-02 15:12] mcrubianot commented on #565
Una vez analizados los principales reportes, se establece que todos traen la misma información en diferentes columnas, de la misma forma se presentan sumatorias en diferentes datos. Se debe garantizar en todos estos reportes que se muestren los valores reales  y en  forma inmediata.

[2019-08-02 15:56] mcrubianot commented on #565
Para el caso de los reportes que  se requieren para presentación a las diferentes entidades a las cuales se debe subir información, se tienen establecidos los respectivos formatos en la siguiente dirección

https://drive.google.com/drive/folders/0B8NdjGOtWwjCbFA5eTRna1VYNnM

[2019-08-02 16:51] mcrubianot opened #566 "Realizar la V2 del documento de análisis de los ingresos presupuestales"

[2019-08-02 17:28] mcrubianot commented on #566
Se elabora el siguiente documento, teniendo en cuenta que no estaba muy claro el procedimiento que se realizó para la vigencia anterior.

Se construye el siguiente documento

https://docs.google.com/document/d/1P71uAAWvyARL7AvWNYYkZrlbmwlu-lpQTaJiCcvcVSw/edit

[2019-08-02 20:03] mcrubianot commented on #566
Se da inicio al análisis de los ingresos sin situación de fondos de acuerdo a correo remitido por la Sección de Presupuesto durante la vigencia 2018.

[2019-08-08 16:27] mcrubianot opened #567 "Consecución modelo de plantilla para cargue de Ingresos en Tesorería"

[2019-08-08 16:29] mcrubianot commented on #567
Se hace la revisión con el usuario de la Sección de Tesorería encargado de los ingresos con el fin de definir la plantilla con la cual la persona realiza los comprobantes de ingreso en el sistema por ellos utilizado.

[2019-08-08 17:42] mcrubianot commented on #567
Se hace un análisis del ejercicio para mejor comprensión

[2019-08-08 19:23] mcrubianot commented on #567
Se anexan el siguiente documento que contiene la información de la plantilla

https://drive.google.com/open?id=109y4JTL4lFZC81EsBc-6MA6uiHs0jJk4

[2019-08-08 19:24] mcrubianot commented on #567
Se anexa un documento de análisis que permitió se comprendiera más el ejercicio

https://drive.google.com/open?id=1qyEWV1zVod7bzG6EsKpBDTx6Zp9-dpcF

[2019-08-08 19:29] #567 closed, assigned to nobody

[2019-08-08 20:12] mcrubianot commented on #567
Con la información analizada, se elabora el siguiente documento.

https://drive.google.com/open?id=1-dm7_E4rd4HqFyA1g9L85pN1P8qZhQmDWu1AlVhnFWQ

[2019-08-09 13:23] mcrubianot commented on #559
Teniendo en cuenta que el modelo es complicado, se procedió de mi parte a entender cuales son las tareas que realiza el usuario y cual es el resultado final del registro.

Se elabora el documento, que me permitió aclarar el tema en materia de recaudo en linea

https://drive.google.com/open?id=1-dm7_E4rd4HqFyA1g9L85pN1P8qZhQmDWu1AlVhnFWQ

[2019-08-09 19:43] mcrubianot opened #568 "Sesión de Trabajo con la Sección de Presupuestp"

[2019-08-09 19:43] mcrubianot commented on #568
Se realiza la respectiva sesión de trabajo y se hace el levantamiento del acta No.09.

https://docs.google.com/document/d/1VXjSGP988ZCQ5HjOGc1aNaRTDDBY1TBSfMtvlPSs598/edit

[2019-08-12 14:31] mcrubianot opened #569 "Asistencia reunión - el día miércoles 14 de agosto a las 8:00 a.m. en la Sala de Juntas de la Oficina Asesora de Sistemas."

[2019-08-12 14:35] mcrubianot opened #571 "Reunión procesos Sicapital y Kronos - oficio IE 23198 (Idexud)"

[2019-08-12 19:09] mcrubianot opened #572 "Levantamiento Acta - Sección de Tesorería"

[2019-08-12 19:10] mcrubianot opened #573 "Levantamiento Acta No.11 - Sección de Presupuesto - Modificaciones Presupuestales"

[2019-08-12 20:54] mcrubianot commented on #572
No se realizó la reunión el usuario no se encontraba disponible

[2019-08-13 13:17] #572 closed, assigned to mcrubianot

[2019-08-13 13:54] mcrubianot commented on #573
Se realiza la sesión de trabajo y se levantan la respectiva acta.

https://docs.google.com/document/d/1tqrSkMCHYTNk4dlEaeHMS2TG6tVPTrVksDYpyx2aHqg/edit

Se realizará el ajuste del procedimiento de acuerdo con lo sugerido por la Sección de Presupuesto

[2019-08-13 14:50] mcrubianot opened #574 "Levantamiento Macroproceso de Contabilidad"

[2019-08-13 14:51] mcrubianot commented on #574
Se retoma el siguiente documento

https://drive.google.com/open?id=1cD597Plqmtt-KS_5bDiKA3pFPAIiFjz9

[2019-08-13 19:54] mcrubianot commented on #573
Se anexan los documentos objeto de análisis

https://drive.google.com/open?id=0B-BNiTbtzIfebjJzNUR1dlpKVmdYa1JzVmkyMG96MmRXdjV3

[2019-08-13 19:55] mcrubianot commented on #573
Se hacen las correcciones del caso en el siguiente documento:

https://drive.google.com/open?id=1Q4eWnFzZ8r7uTbdoDunNl_bPIhECf_OQ
https://drive.google.com/open?id=1wwDVM3ly1iFUcZRPpk4rJN7NNPM0hEos
https://drive.google.com/open?id=1OReAaNcphYGe65oRcyB0QvwPZMZCbu3x
https://drive.google.com/open?id=1_q15PTVMVWbABj2fWHekb3_JDV-3P8KK

[2019-08-13 20:01] mcrubianot commented on #568
Se hacen la correcciones del caso en los siguientes procedimientos. Se crea la V2

https://drive.google.com/open?id=1Q4eWnFzZ8r7uTbdoDunNl_bPIhECf_OQ
https://drive.google.com/open?id=1wwDVM3ly1iFUcZRPpk4rJN7NNPM0hEos
https://drive.google.com/open?id=1OReAaNcphYGe65oRcyB0QvwPZMZCbu3x
https://drive.google.com/open?id=1_q15PTVMVWbABj2fWHekb3_JDV-3P8KK

[2019-08-13 20:07] mcrubianot commented on #560
Se dió el día 13/08/2019 otra explicación al señor Fausto Puerto respecto a los procedimientos
- Plan de Cuentas
- Comprobantes

[2019-08-14 15:44] mcrubianot commented on #569
Se deja la anotación de que no se llevó a cabo la reunión toda vez que no aisitió el Jefe de la Oficina Asesor de planeación, que era el funcionarios que debia aprobar las historias de usuario relacionadas con crear rubros, crear fuentes, crear productos y pre asignación apropiacion inicial.

Se reporgramará para la semana del 19 al 23 de agosto de 2019

[2019-08-15 16:38] mcrubianot opened #575 "Revisión funcionalidad SIIGO"

[2019-08-15 16:39] mcrubianot commented on #575
Con el fin de hacer un barrido de algunos temas que no hubiesen sido tenidos en cuenta por Kronos, se hizo un ejercicio de identificación de las funcionalidades de SIIGO - Multiproposito que utiliza la Universidad.

Se crea el siguiente documento

https://docs.google.com/spreadsheets/d/1P3j2tDsxUuaS_f3bo5uobU9rDzb-R6Xa7A0NURNlsDI/edit#gid=0

[2019-08-15 17:26] mcrubianot commented on #571
Se estableció en esta reunión que se enviaran las historias de usuario del Subisistema de Presupuesto para revisión y posterior mesa de trabajo.

Se solicitó por parte del Idexud enviar formato para poder dar permisos para elaboración de conceptos en sicapital.

Se debe hacer un análisis de la creación de otra Unidad Ejecutora en el Sicapital y el ajuste en los dígitos del último nivel para inclui

[2019-08-15 17:26] mcrubianot commented on #571
Se envia correo con el formato y las historias de usuario

[2019-08-15 17:34] mcrubianot commented on #571
de: | Oficina Asesora de Sistemas Universidad Distrital<computo@udistrital.edu.co>
-- | --
para: | "Instituto de Extensión y de Educación no formal (IDEXUD) Universidad Distrital" <idexud@udistrital.edu.co>
Cco: | mcrubianot@udistrital.edu.co
fecha: | 15 ago. 2019 12:32
asunto: | Remisión Historias de Usuario y formato de solicitud de usuarioBuenos días, de conformidad con los compromisos adquirid

[2019-08-16 15:59] mcrubianot opened #576 "Elaboración Historia de Usuario - Inicio de Vigencia"

[2019-08-16 15:59] mcrubianot commented on #576
Se elabora la respectiva historia de Usuario en el siguiente documento

https://docs.google.com/spreadsheets/d/1o5IbFj9Ci9Ty5Kje-hk6xcVgFgrgybtGhQ1oBUn9MtE/edit#gid=852078008

[2019-08-16 16:13] mcrubianot commented on #573
Se compartió acta para aprobación.

[2019-08-16 16:15] mcrubianot opened #577 "Levantamiento Acta No.11 - Sección de Presupuesto - Aprobación procedimientos"

[2019-08-16 16:15] mcrubianot commented on #577
Se levanta la respectiva Acta en el siguiente documento

https://drive.google.com/open?id=1cCn8bO0uGoZ2mmgVaCwT9B7Ks7Aq6IGRn2yl1LAwqrM

[2019-08-16 16:16] mcrubianot commented on #577
Se anexan los respectivos documentos

https://drive.google.com/open?id=0B-BNiTbtzIfeT1NoZHdGSDV6WTBnNFF4eXVaYjBSbjZiSVpZ

https://drive.google.com/open?id=0B-BNiTbtzIfecnNSbjQ5QVh6dHpvQzhDYU1LczJSbVh6dk0w

[2019-08-16 16:16] mcrubianot commented on #577
Se comparte la respectiva acta para aprobación

[2019-08-16 16:45] mcrubianot commented on #574
Se comparte el respectivo documento para conocimiento de los compañeros del proyecto

https://www.draw.io/?state=%7B%22ids%22:%5B%221cD597Plqmtt-KS_5bDiKA3pFPAIiFjz9%22%5D,%22action%22:%22open%22,%22userId%22:%22115577396714392713055%22%7D#G1cD597Plqmtt-KS_5bDiKA3pFPAIiFjz9

[2019-08-16 20:06] mcrubianot commented on #577
Se corrige el procedimiento que quedó para ajustar y se envia con el siguiente correo
para: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
fecha: | 16 ago. 2019 14:57
asunto: | Procedimiento de anulación de CRP
de: | Maria Claudia Rubiano Torres<mcrubianot@udistrital.edu.co>

Janesita de acuerdo a lo que revisamos ayer, ya ajuste el procedimiento que nos hizo falta para que por favor me lo

[2019-08-20 13:32] mcrubianot commented on #577
Se recibe el siguiente correo:

de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
fecha: | 16 ago. 2019 15:26
asunto: | Re: Procedimiento de anulación de CRP

APROBADO.

Cordialmente,
Janeth Molina V.
Sección de Presupuesto

[2019-08-20 19:59] mcrubianot opened #578 "Elaborar V2 Procedimiento Ingresos sin situación de Fondos"

[2019-08-20 20:00] mcrubianot commented on #578
Se elabora el siguiente documento para aprobación con el usuario

Se tiene prevista reunión el día 21 de agosto de 2019

[2019-08-20 20:01] mcrubianot opened #579 "Preparar reunión de validación de historias de usuario de Solicitud de Necesidades"

[2019-08-20 20:20] mcrubianot commented on #579
Se programa reunión para el jueves 22 de agosto a las 2:00

Historias de Usuario

https://drive.google.com/open?id=1QC-FvV0QSaB_0jhuVh2cXt9kWfhNhKBeNuGDaKNRvAU

[2019-08-20 20:29] mcrubianot commented on #579
Se envia el siguiente correo

de: | Oficina Asesora de Sistemas Universidad Distrital<computo@udistrital.edu.co>
-- | --
para: | Red de Datos UDNET <udnet@udistrital.edu.co>,Decanatura Ingeniería <decano_ing@udistrital.edu.co>,"Instituto de Extensión y de Educación no formal (IDEXUD) Universidad Distrital" <idexud@udistrital.edu.co>,Facultad de Ciencias y Educación <dciencia@udistrital.edu.co>
Cco

[2019-08-21 14:42] mcrubianot opened #580 "Segunda Revisión de Procedimiento de Ingresos e ingresos sin situación de fondos desde la parte presupuestal con la Sección de Presupuesto Acta No.12"

[2019-08-21 14:44] mcrubianot commented on #580
Se realiza sesión de trabajo el día de hoy y se levanta el Acta No. 12

[2019-08-21 15:43] mcrubianot commented on #580
Se levanta el acta en el siguiente documento,

https://drive.google.com/open?id=1OF80wW4BTrCTDADjIdRv-1MS-X-FHhQCAjXCq6m44nA

[2019-08-21 15:44] mcrubianot commented on #580
Se comparte dicha acta para aprobación del usuario.

de: | Maria Claudia Rubiano ... (vía Documentos de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | presupuesto11@udistrital.edu.co
fecha: | 21 ago. 2019 10:31
asunto: | Acta No.12 - Kronos - Invitación para editar

mcrubianot@udi

[2019-08-21 15:47] mcrubianot commented on #577
Se envia acta para aprobación.

de: | Maria Claudia Rubiano ... (vía Documentos de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | jmolinav@udistrital.edu.co,presupuesto11@udistrital.edu.co
fecha: | 16 ago. 2019 9:11
asunto: | Acta No.11 - Kronos - Invitación para editar

mcrubiano

[2019-08-21 15:50] mcrubianot commented on #573
Se compartió acta con la siguiente nota

de: | Maria Claudia Rubiano ... (vía Documentos de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | jmolinav@udistrital.edu.co
fecha: | 13 ago. 2019 8:57
asunto: | Acta No.10 - Kronos - Invitación para editar

Unknown profile photo	Buenos día

[2019-08-22 15:14] mcrubianot opened #581 "Aprobación historias de usuario. Acta No.13"

[2019-08-22 15:16] mcrubianot commented on #581
Se levanta el acta correspondiente

https://drive.google.com/open?id=16KVNdnoJDtCNYqaNPejxdGmDGCmYJ36vBXoPjXF2DIE

Se aprueban las historias de usuario de
Consultar solicitud de CDP
Generar solicitud de CDP
Consultar solicitud de CRP
Generar solicitud de CRP
Anulaciones parciales y totales de CDP
Anulaciones parciales y totales de CRP

Queda pendiente aprobación del acta

[2019-08-22 15:16] mcrubianot commented on #581
de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 21 ago. 2019 15:23
asunto: | Re: HU - 33 A 35 - Anulacion Total y Parcial de CRP V2 - Invitación para editar

Aprobada historia de usuario de Anulaciones de CRP´s

Cordialmente

Janeth Molina V.

Sección de Presupuesto

[2019-08-22 15:17] mcrubianot commented on #581
de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 21 ago. 2019 15:19
asunto: | Re: HU - 30 A 32 - Anulacion Total y Parcial de CDP V2 - Invitación para editar

Aprobadas las historias de usuarios de anulación de CDP

Cordialmente

 Janeth Molina V.
Sección de Presupuesto

[2019-08-22 15:48] mcrubianot commented on #581
Janeth Molina Velandia <jmolinav@udistrital.edu.co>
--
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 22 ago. 2019 10:34
asunto: | Re: HU - 49 A 50 Consultar Solicitud de CDP y Generar CDP - Invitación para editar

Aprobadas las historias de usuarios de anulación de consultar solicitud de CDP y  Generación de CDP
Cordialmente

Janeth Molina V.

[2019-08-22 15:48] mcrubianot commented on #581
de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>

Aprobadas las historias de usuarios de consulta solicitud CRP y Generación CRP
Cordialmente

Janeth Molina V.

Sección de Presupuesto
fecha: | 22 ago. 2019 10:37
asunto: | Re: HU - 50 A 51 Consultar Solicitud CRP y Generar CRP - Invitación para editar

[2019-08-22 15:49] mcrubianot commented on #581
de: | Maria Claudia Rubiano ... (vía Documentos de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | jmolinav@udistrital.edu.co
fecha: | 22 ago. 2019 10:11
asunto: | Acta No.13 - Kronos - Invitación para editar

mcrubianot@udistrital.edu.co te ha invitado a editar el siguiente docume

[2019-08-22 15:49] mcrubianot commented on #581
de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 22 ago. 2019 10:42
asunto: | Re: Acta No.13 - Kronos - Invitación para editar
enviado por: | udistrital.edu.co

Acta aprobada.

Cordialmente

Janeth Molina V.
Sección de Presupuesto

[2019-08-22 15:53] mcrubianot opened #582 "Levantamiento acta N.14 reunión con la Viceadm y OAP"

[2019-08-22 15:54] mcrubianot commented on #582
Se elabora la respectiva acta.

[2019-08-22 15:54] mcrubianot commented on #582
Se comparte para revisión de la Ingeniera Beatriz, Felipe y Diana Ramirez

[2019-08-23 13:18] mcrubianot commented on #579
Se realiza la respectiva reunión y se levanta la siguiente acta

https://docs.google.com/document/d/1Qk9z7IWx11rtHLpyzE-m5g-aV1tRz2d1UKXmcb5dguo/edit

[2019-08-27 13:19] mcrubianot commented on #580
Acta aprobada, según el siguiente correo:

Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>| lun., 26 ago. 9:21 (hace 22 horas) |   |
para Holvey
Hola Holvey,,,, es decir que está aprobada el acta?

Holvey Ramírez Bermúdez<presupuesto11@udistrital.edu.co>
--
para: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
fecha: | 27 ago. 2019 8:16
asunto: | Re: Acta No.12 - Kronos -

[2019-08-27 13:24] #579 closed, assigned to nobody

[2019-08-27 13:25] mcrubianot commented on #579
Se envió la respectiva acta para aprobación pero no se ha recibido respuesta alguna.

[2019-08-27 13:26] mcrubianot commented on #579
de: | Maria Claudia Rubiano ... (vía Documentos de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | secudnet@udistrital.edu.co,crlampreac@udistrital.edu.co
fecha: | 23 ago. 2019 8:44
asunto: | Acta No.15 - Kronos - Invitación para editar

Buenos días, comedidamente nos permitimos re

[2019-08-27 13:32] mcrubianot commented on #575
Se compartió el documento con la ingeniera Beatriz

de: | Maria Claudia Rubiano ... (vía Hojas de cálculo de Google)<drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | computo@udistrital.edu.co
Cc: | bjaramillo@udistrital.edu.co

Buenos días, me permito compartirles el arbol de las funcionalidades que tiene en este momento el

[2019-08-27 13:32] mcrubianot commented on #575
A la fecha no se ha recibido observación alguna.

[2019-08-27 13:34] mcrubianot commented on #574
Se tiene prevista reunión con la Sección de Contabilidad de acuerdo a la siguiente citación:

Cuándo | mié 28 de ago de 2019 9am – 10am (COT)
-- | --
Ubicación | Sala de Juntas de la División Financiera, 7mo. Piso
Participantes | efcanastoj@udistrital.edu.co, dramirezv@udistrital.edu.co, fapuertoq@udistrital.edu.co...

[2019-08-27 13:35] mcrubianot commented on #574
Se recibe respuesta con el siguiente correo;

De:
Date: mié., 21 ago. 2019 a las 14:50
Subject: RE: Solicitud de reunión tema: Subsistema de contabilidad.
To: Oficina Asesora de Sistemas Universidad Distrital
Cc:

Buenas tardes,

De acuerdo a su solicitud, la reunión podemos realizarla el próximo miércoles 28 de Agosto a las 9AM en la Sala de Juntas de la División Financiera, piso 7.

Pero por fav

[2019-08-28 16:16] mcrubianot opened #583 "Asistencia reunión Subsistema de Contabilidad - Kronos"

[2019-08-28 16:20] mcrubianot commented on #583
Se planteo reunión con la Sección de Contabilidad el día 28 de agosto de 2019.

El acta la levantará el ingeniero Fausto Puerto

[2019-08-28 20:38] #583 closed, assigned to nobody

[2019-08-30 16:30] mcrubianot opened #584 "Solicitud de Movimientos Almacén para Arka II"

[2019-08-30 16:31] mcrubianot commented on #584
Se envia el siguiente correo:

de: | Oficina Asesora de Sistemas Universidad Distrital<computo@udistrital.edu.co>
-- | --
para: | Almacen -- <almacen@udistrital.edu.co>
Cc: | Vicerrectoría Administrativa y Financiera Universidad Distrital <vicerrecadmin@udistrital.edu.co>,Contab <contab@udistrital.edu.co>
Cco: | mcrubianot@udistrital.edu.co
fecha: | 29 ago. 2019 12:01
asunto: | Definición de Movim

[2019-08-30 16:32] mcrubianot commented on #584
Se recibe correo de la Vicerrectoría así:

De: Vicerrectoría Administrativa y Financiera Universidad Distrital <vicerrecadmin@udistrital.edu.co>
Date: jue., 29 ago. 2019 a las 12:39
Subject: Re: Definición de Movimientos de elementos - Arka II
To: Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
Cc: Almacen -- <almacen@udistrital.edu.co>, Contab <contab@udistrital.edu.

[2019-08-30 16:42] mcrubianot commented on #556
A la fecha no se recibieron observaciones al respecto, se da por atendido el requerimiento.

[2019-08-30 16:46] mcrubianot commented on #574
Se realizó la respectiva reunión y el acta correspondiente fue levantada por el ingeniero Fausto Puerto.

https://drive.google.com/open?id=1CfmhAi6qRHu7OiSXWjzFnn_IxnKrBtUjadPMQVT7MgM

De mi parte se da por atendido el requeimiento.

[2019-08-30 16:48] mcrubianot commented on #575
A la fecha no se ha recibido observación alguna.

De mi parte se da por terminada la tarea.

[2019-08-30 16:49] mcrubianot commented on #576
Esta historia de usuario está pendiente por validar con el usuario de la Sección de Presupeusto.

[2019-08-30 16:50] FaustoPuerto commented on #583
La reunión se realizó entre las 9:00 a.m.y las 10:40 a.m. en la Sala de Juntas de la División de Recursos Financieros.

El acta de la reunión se encuentra disponible en el siguiente enlace:
https://docs.google.com/document/d/1CfmhAi6qRHu7OiSXWjzFnn_IxnKrBtUjadPMQVT7MgM/edit?ts=5d6817e9&pli=1

[2019-08-30 16:51] mcrubianot commented on #577
Se encuentra pendiente aprobación el acta.

[2019-08-30 16:52] mcrubianot commented on #578
Una vez aclarado el tema se levanta el procedimiento, el cual esta pendiente de aprobación por el usuario.

[2019-08-30 16:53] mcrubianot commented on #580
El acta se encuentra aprobada, el requerimiento se da por atendido.

[2019-08-30 16:54] mcrubianot commented on #581
Teniendo en cuenta que el acta está aprobada, se da por atendido el requerimiento.

[2019-08-30 16:55] mcrubianot commented on #582
Se da por atendido el requerimiento de mi parte.

[2019-09-02 00:36] macaguegi opened #585 "Corregir errores sonarq"

[2019-09-02 20:38] mcrubianot commented on #580
Se envia correo el día de hoy 02/09/2019 al señor Holvey Ramirez con el borrador del procedimiento para el registro pero se hace la observación de que defintiivamente la Sección de Presupuesto no registra ninguna información. Se anexa copia de las conversaciones al respecto:

de: | Maria Claudia Rubiano Torres<mcrubianot@udistrital.edu.co>
-- | --
para: | Holvey Ramírez Bermúdez <presupuesto11@udi

[2019-09-16 20:24] mcrubianot opened #586 "Reunión con Sección de Contabilidad, levantamiento de requerimientos - Acta No,17"

[2019-09-16 20:25] mcrubianot commented on #586
Se envió el siguiente correo

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
-- | --
para: | Contab <contab@udistrital.edu.co>,Ernesto Suastegui Molina <esuasteguim@udistrital.edu.co>,Maria Helena Gonzalez Franco <mhelenagonzalez@hotmail.com>
Cco: | mcrubianot@udistrital.edu.co

Cordial saludo:

De manera atenta  y con el fin de continuar con los procesos que s

[2019-09-16 22:52] Soulfilip-UD opened #587 "Socialización de modelo de datos de CDP y CRP , con arquitectos y DBA - 1 hora - Maria Camila , Carlos , arquitectos y DBA"
Se requiere contar con los arquitectos y dba en este caso para revisar y ajustar en caso dado , los modelos de datos planteados para CDP y CRP, modulos del subsitema de presupuesto.

[2019-09-17 16:13] mcrubianot commented on #586
Se asiste a dicha sesión de trabajo y se levanta la respectiva acta.

Acta No.17
https://drive.google.com/open?id=1fyUtkNZnn-bBYBdcj8oivyO_dmcdgzMNlAznctr_G04

[2019-09-17 16:13] mcrubianot commented on #586
Se comparte dicho documento para observaciones

de: | Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | esuasteguim@udistrital.edu.co,jvela.idexud@hotmail.com,dramirezv@udistrital.edu.co,jamahechar@correo.udistrital.edu.co
fecha: | 17 sep

[2019-09-17 17:42] mcrubianot opened #588 "Versión 2 - Historias de Usuario de Plan de Cuentas Contable"

[2019-09-17 17:43] mcrubianot commented on #588
Se levantan las siguientes historias de usuario

https://docs.google.com/spreadsheets/d/1mehsBfQGdMY5WoiOMG9aCXm4w4TVK6nI/edit#gid=910264386

[2019-09-17 20:48] mcrubianot commented on #588
Se envia el siguiente correo

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
-- | --
para: | Contab <contab@udistrital.edu.co>
Cc: | Ernesto Suastegui Molina <esuasteguim@udistrital.edu.co>,Alvaro Mahecha <amahecha@udistrital.edu.co>
Cco: | mcrubianot@udistrital.edu.co
fecha: | 17 sept. 2019 15:46
asunto: | Historias de Usuario - Plan de cuentas - Kronos

Buena

[2019-09-18 16:24] mcrubianot opened #589 "Reunión Sección de Contabilidad - Presentación Argo, Agora y aprobación HU - Acta No.18"

[2019-09-18 16:26] mcrubianot commented on #589
Se programa y se cita para dicha reunión el día 24 de septiembre a las 8:00 a..m, de acuerdo a lo establecido en la reunión del día 17 de septiembre.

[2019-09-18 17:32] mcrubianot commented on #586
Se recibe el siguiente correo

De: <esuasteguim@udistrital.edu.co>
Date: mié., 18 sept. 2019 a las 12:02
Subject: RE: Historias de Usuario - Plan de cuentas - Kronos
To: Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>, Contab <contab@udistrital.edu.co>
Cc: Alvaro Mahecha <amahecha@udistrital.edu.co>

Buenas tardes Maria Claudia,

Revisando las historias de usuario env

[2019-09-18 17:36] mcrubianot commented on #586
Se analizarán las observaciones y se ajustarán las HU

[2019-09-18 20:41] mcrubianot commented on #589
Se elabora para esta reunión el acta No.18 - Kronos

https://docs.google.com/document/d/1IWeuw-ekfc-PFt6dY_0fquI-jCbQvoC4-yFi_10tzLk/edit

[2019-09-19 16:39] mcrubianot opened #590 "Socialización de los mockups de movimientos presupuestales con el analista"

[2019-09-19 16:43] mcrubianot commented on #590
Se realizó la respectiva socialización el día 18 de septiembre de 2019.

Se asocia con el https://github.com/udistrital/financiera_documentacion/issues/16

[2019-09-19 16:55] mcrubianot commented on #588
Se reciben las siguientes observaciones

De: <esuasteguim@udistrital.edu.co>
Date: mié., 18 sept. 2019 a las 12:02
Subject: RE: Historias de Usuario - Plan de cuentas - Kronos
To: Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>, Contab <contab@udistrital.edu.co>
Cc: Alvaro Mahecha <amahecha@udistrital.edu.co>

Buenas tardes Maria Claudia,

Revisando las historias de u

[2019-09-20 21:37] mcrubianot opened #591 "Validación Gestión de Rubros y Apropiación Inicial - Subsistema de Presupuesto desplegado en test"

[2019-09-20 22:25] mcrubianot commented on #591
Rubros Presupuestales
- Cuando se selecciona un rubro para crear un hijo, no se diferencia en donde estoy ubicadas, colocar algo que resalte
- Entiendo que si quiero editar el rubro ya creado, siempre y cuando no tenga movimientos, debe permitirme cambiar hasta el código y no lo está permitiendo, no habilita el recuadro del código
- Al continuar en la creación de un rubro hijo hasta un siguiente n

[2019-09-25 21:51] mcrubianot commented on #589
Se hace la respectiva reunión y se deja constancia en el acta que se relacionó en la nota anterior.

[2019-09-25 21:54] mcrubianot commented on #589
Se programa sesión para el 1 de octubre en la Sección de Contabilidad para validar la HU que quedó pendiente de revisar.

[2019-09-27 15:18] Soulfilip-UD commented on #586
Se tuvo en cuenta las observaciones en las historias de usuario, y se ajusta de acuerdo al criterio del analista estas
Tarea finalizada

Proceeding to close Issue :space_invader:

[2019-09-27 15:18] #586 closed, assigned to mcrubianot

[2019-09-27 15:20] Soulfilip-UD commented on #589
Se compartio el acta y queda guardada en la carpeta de actas.
Todas las observaciones quedan en el acta

Tarea finalizada
Proceeding to close Issue :space_invader:

[2019-09-27 15:20] #589 closed, assigned to mcrubianot

[2019-09-27 15:36] Soulfilip-UD commented on #588
Se crearon las historias de usuario y pendiente revisarlos por parte de Ernesto , usuario de contabilidad. Reunión el Martes

Tarea Finalizada
Proceeding to close Issue :space_invader:

[2019-09-27 15:36] #588 closed, assigned to mcrubianot

[2019-09-30 19:49] mcrubianot opened #592 "Socializar los tipos de compromisos"
Socializar los tipos de compromisos con el Analista

[2019-09-30 19:50] mcrubianot commented on #592
Se elabora el siguiente documento para socialización con los ingenieros y el líder técnico
https://docs.google.com/document/d/1BjeEAdJZm9TBff4HomEfOu66kcJExPcGEY41L5U_3bE/edit

[2019-10-01 15:28] mcrubianot commented on #589
Se recibe el siguiente correo.

de: | esuasteguim@udistrital.edu.co
-- | --
para: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
fecha: | 30 sept. 2019 17:02
asunto: | RE: Aprobacion actas 17 y 18
enviado por: | udistrital.edu.co

Hola Maria C buenas tardes,
El Acta 18 yo le hice unos cambio y le coloque mi nombre con la revisión, pero por favor me puedes renviar el acta 17 que no l

[2019-10-01 15:37] mcrubianot opened #593 "Revisión HU Plan de Cuentas con la Sección de Contabilidad - Acta No.19"

[2019-10-01 15:37] mcrubianot commented on #593
Se elabora la respectiva acta

https://docs.google.com/document/d/1MFCXUEAjzXQjzp5bOOfM-pM7tCAtnOm2rLYxUFMgW1I/edit

[2019-10-01 16:03] mcrubianot commented on #593
Se genera una nueva versión V3 de las historias de usuario del plan de cuentas

https://docs.google.com/spreadsheets/d/1mXhfPcmIjD1mhHshC3LIE1TXqXjo-9PD/edit#gid=910264386

[2019-10-01 19:39] mcguegi commented on #592
De acuerdo a la socialización con la analista @mcrubianot se concreta que el modelo solamente debería tener Categoría y Tipo de Compromiso.

**Categoría del Compromiso**
[code]

**Tipo de Compromiso**
[code]
Queda pendiente reunión con Arquitectos y DBAs para proseguir con la implementación del modelo en el API Plan Cuentas Mongo :bee:

[2019-10-01 20:06] mcrubianot commented on #593
Se envia el siguiente correo

de: | Maria Claudia Rubiano ... (vía Google Drive) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | esuasteguim@udistrital.edu.co
fecha: | 1 oct. 2019 15:04
asunto: | HU 90-91-92 Plan de cuentas V3.xlsx

Ernesto te envio nuevamente las historias de usuario par

[2019-10-01 20:06] mcrubianot commented on #593
Se ajusta esta historia de usuario al formato remitido el día de hoy por parte del ingeniero Jairo Lavado.

https://docs.google.com/spreadsheets/d/1eAAnzjovKnLKAkk0tLFSCTGDnS_8K5pV0Fs-2Qmvrg0/edit#gid=1101918966

[2019-10-01 20:45] mcrubianot commented on #593
Se envia el siguiente correo

de: | Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | dramirezv@udistrital.edu.co,esuasteguim@udistrital.edu.co,efcanastoj@udistrital.edu.co
fecha: | 1 oct. 2019 15:44
asunto: | Acta No.19 - Kronos - Invita

[2019-10-03 15:11] mcrubianot opened #594 "Análisis control de fuentes según información suministrada por la OAP"

[2019-10-03 15:22] mcrubianot commented on #594
Se da inicio al análisis de la información suministrada por la Oficina Asesora de Planeación, de acuerdo con los archivos que se relacionan a continuación:
https://drive.google.com/open?id=1WDiayaQBzOPCnnMU4KtTP1VNqr639ddz
https://drive.google.com/open?id=1o_b7jouPJV6Nq-zmnutV3LEdj1rhH2Hw

[2019-10-03 20:25] mcrubianot opened #595 "Validar necesidades por parte del analista"

[2019-10-03 20:26] mcrubianot commented on #595
Se hace la validación del caso, se anexa documento correspondiente

https://docs.google.com/document/d/1iqI8QhQLKHI9vnROVgU18cKKqcMPq9-8h9Ow0c5ypJM/edit

[2019-10-03 20:28] mcrubianot commented on #594
Se hace el análisis entendiendo el modelo que se presenta en los archivos antes relacionados y se construye el documento

https://docs.google.com/spreadsheets/d/1jwh1b_N43ZKP1mmuFi4blkImM4eKZk7R8dohNvTnSR8/edit#gid=0

[2019-10-03 21:07] davidmm07 commented on #591
Rubros Presupuestales

- [x] Cuando se selecciona un rubro para crear un hijo, colocar algo que resalte.**realizado**

- [x] Entiendo que si quiero editar el rubro ya creado, siempre y cuando no tenga movimientos, debe permitirme cambiar hasta el código y no lo está permitiendo, no habilita el recuadro del código.**Dentro del manual habria que aclarar que para el corregir el codigo es mejor elimin

[2019-10-03 21:43] mcrubianot commented on #595
Se hace necesario realizar una socialización, con el fin de revisar en conjunto las observaciones acá planteadas

[2019-10-04 12:46] Soulfilip-UD commented on #595
Puedes citar al equipo para la socialización en el espacio que tengas disponible, te recomiendo usar nuestro chat de Hangouts

[2019-10-04 12:56] Soulfilip-UD commented on #592
Compromisos socializados y no quedan ajustes

Proceeding to close Issue 👾

[2019-10-04 12:56] #592 closed, assigned to mcguegi, mcrubianot, Soulfilip-UD

[2019-10-04 14:15] Soulfilip-UD commented on #595
Total de horas : 3
Tarea finalizada
Proceeding to close Issue :space_invader:

[2019-10-04 14:15] #595 closed, assigned to mcrubianot

[2019-10-04 18:13] mcrubianot commented on #591
Se hace la observación general que el tamaño de las fuentes de toda la vista en si está, muy grande.

La justificación de los rubros tanto padres como hijos se a a la izquierda

[2019-10-08 15:17] mcrubianot commented on #589
Se recibe el siguiente correo

de: | Financiera - IDEXUD <financieraidexud@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
Cc: | Ernesto Suastegui Medina <esuasteguim@udistrital.edu.co>,Compras IDEXUD <comprasidexud@udistrital.edu.co>
fecha: | 7 oct. 2019 18:01
asunto: | Re: Acta No.18 - Kronos - Invitación para editar

Buenas tardes.

Revisado por Ide

[2019-10-08 20:14] mcrubianot opened #596 "Actualización HU - V3 - Subsistema de Presupuesto"

[2019-10-08 20:16] mcrubianot commented on #596
de: | Jairo Lavado Hernandez <jlavadoh@correo.udistrital.edu.co>
-- | --
para: | María Claudia Rubiano <mcrubianot@udistrital.edu.co>,Fausto Puerto -- <fapuertoq@udistrital.edu.co>,Beatriz Jaramillo <bjaramillo@udistrital.edu.co>
fecha: | 1 oct. 2019 12:53
asunto: | Versión 2 formato historia de usuario

Buen día compañeros, adjunto enlace d ela versión 2 del formato de historias de usuarios, para

[2019-10-08 20:17] mcrubianot commented on #596
De acuerdo al correo anterior, la versión de acuerdo a lo que se ha trabajado para Kronos es la V3.

Se procede entonces a actualizar las hu con el fin de que sean más específicas y que tengan revisión y validación por parte del Lider Técnico y de los desarrolladores

[2019-10-08 22:22] DianaPatriciaRamirez commented on #593
Queda pendiente la revisión y aprobación de la historia de usuario [HU 90-91-92 Plan de cuentas V3.xlsx](https://docs.google.com/spreadsheets/d/1mXhfPcmIjD1mhHshC3LIE1TXqXjo-9PD/edit#gid=910264386) por parte del usuario de la Sección de Contabilidad, para dar por finalizada esta actividad.

95% de avance.

[2019-10-08 22:28] DianaPatriciaRamirez commented on #594
Queda pendiente iniciar el proceso de generación de las historias de usuario y su correspondiente aprobación por parte del usuario de la Oficina Asesora de Planeación, sin embargo, para ello se generará otro issue. Se da por terminada esta actividad.

[2019-10-08 22:28] #594 closed, assigned to mcrubianot

[2019-10-09 13:55] mcrubianot opened #597 "Revisión Mockups Expedición CDP y CRP"

[2019-10-09 13:56] mcrubianot commented on #597
Se hacen las revisiones del caso, de cuerdo con lo planteado en

https://github.com/udistrital/financiera_documentacion/blob/master/gestion_egresos/CDP-CRP/mockups.md

y con las observaciones planteadas en el documento

https://docs.google.com/document/d/1EUpPUPn0CwuiQRmJ7rLNOJbwmsADvmnq/edit#heading=h.gjdgxs

[2019-10-09 14:26] mcrubianot commented on #597
Imagen 1. Sin observación
Imagen 2. Quedamos en que solamente se iba a dejar el titulo inicial de “ Valor “  para no estar repitiendo en cada uno de los recuadros. **_Ajustado de acuerdo a la observación_**
Imagen 3. Por favor los valores justificados a la derecha así como figura el valor del rubro que estoy resaltando. También veo que no hay separación de miles en las cifras que se presentan. _**

[2019-10-15 13:09] mcrubianot commented on #593
de: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
-- | --
para: | Ernesto Suastegui Medina <esuasteguim@udistrital.edu.co>,Jesus Alvaro Mahecha Rangel <jamahechar@correo.udistrital.edu.co>
Cc: | Diana Ramirez Vargas <dramirezv@udistrital.edu.co>
fecha: | 11 oct. 2019 8:45
asunto: | Aprobación Historia de Usuario Plan de Cuentas

[2019-10-15 13:10] mcrubianot commented on #593
de: | esuasteguim@udistrital.edu.co
-- | --
para: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
Cc: | Diana Ramirez Vargas <dramirezv@udistrital.edu.co>,Jesus Alvaro Mahecha Rangel <jamahechar@correo.udistrital.edu.co>
fecha: | 11 oct. 2019 13:06
asunto: | RE: Aprobación Historia de Usuario Plan de Cuentas

Buenas tardes Maria Claudia, estuve revisando el documento pero el modulo d

[2019-10-15 19:00] mcrubianot commented on #593
e: | Maria Claudia Rubiano Torres <mcrubianot@udistrital.edu.co>
-- | --
para: | Ernesto Suastegui Medina <esuasteguim@udistrital.edu.co>
fecha: | 15 oct. 2019 10:19
asunto: | Re: Aprobación Historia de Usuario Plan de Cuentas

Hola Ernesto gracias por la revisión. La idea de la edición es simplemente que me permita ver el plan de cuentas al momento en que lo estoy creando y en el evento en que me

[2019-10-22 13:34] mcrubianot opened #598 "Aprobación historia de Usuario Plan de Cuentas contable. Acta No.20 de 2019"

[2019-10-22 13:38] mcrubianot commented on #598
Se hace la sesión de trabajo correspondiente se deja constancia en el acta No.20 de 2019

Se anexan los links de los documentos trabajados
https://docs.google.com/document/d/1CA7HCOjHWLcvbdsefY9-KUJrPJ0i7oM67ZvF2q17dy8/edit

https://drive.google.com/open?id=1D7t60JBH0I6Pf0J2SW-BTT25CnC1_VFe
https://drive.google.com/open?id=1xNWbfDfnOn_FF6PIsWMKF__oqzIK3Qf3
https://drive.google.com/open?id=1CRtj-QC

[2019-10-30 00:49] Soulfilip-UD opened #599 "Desplegar Kronos 1 contabilidad para realizar pruebas"
Desplegar Kronos 1 contabilidad para realizar pruebas - 2 semanas - Del 28/Oct/2019 al 6/Nov/2019

[2019-11-05 13:24] mcrubianot opened #601 "Socialización con usuario de la OAP - Acta No.21"

[2019-11-05 13:27] mcrubianot commented on #601
Se realiza sesión de trabajo con la Oficina Asesora de Planeación. Se levanta el acta No.21

https://docs.google.com/document/d/1F8MT1mbmi1aRzgrew8HegV9NLhEkXDEtyhK4XmH3o1c/edit

Está pendiente por aprobar por parte del usuario

[2019-11-05 13:36] mcrubianot opened #602 "Revisión y aprobación procedimientos e historia s de usuario de Fuentes de Financiamiento y Productos. Acta No.22"

[2019-11-05 13:37] mcrubianot commented on #602
Se levanta el acta correspondiente No.22

https://docs.google.com/document/d/196KGzsAqFXkpNzPmb-MmgDdbT-c5Zyt6Na-dsUIJmbo/edit

[2019-11-05 14:11] mcrubianot commented on #601
Se envia el siguiente correo

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
-- | --
para: | Oficina Asesora de Planeación y Control Universidad Distrital <planeac@udistrital.edu.co>
Cc: | Malcom Andres Polanco Lopez <mapolancol@udistrital.edu.co>,CARLOS ALBERTO ARROYAVE MENJURA <sigud.planeac3@udistrital.edu.co>,Diana Ramirez Vargas <dramirezv@udistrital.edu.c

[2019-11-06 13:47] mcrubianot opened #603 "Revisión y aprobación historias de usuario Idexud. Acta No.2 - Idexud"

[2019-11-06 13:48] mcrubianot commented on #603
Se levanta la respectiva acta

https://docs.google.com/document/d/1crEBgDOc_FR2pllJ9ZuKObSA2kNx7-SgxxinZHlM6QU/edit

[2019-11-07 14:13] mcrubianot opened #604 "Remisión HU de plan de cuentas presupuestal a la Sección de Presupuesto para aprobación"

[2019-11-07 14:18] mcrubianot commented on #604
Teniendo en cuenta la sesión de trabajo realizada el día 30 de octubre de 2019 con la OAP (Acta No.21 de Kronos), en la cual se establece que la creación de los rubros presupuestales debe hacerla la Sección de Presupuesto, se remite la respectiva historia de usuario a dicha dependencia para la respectiva revisión y aprobación.

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udist

[2019-11-07 14:20] mcrubianot commented on #604
Se revise la siguiente respuesta.

de: | Janeth Molina Velandia <jmolinav@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 6 nov. 2019 9:56
asunto: | Re: HU - 01 A 10 - Registrar Rubro Presupuestal V3 -

Buenos días, luego revisar el procedimiento para creación de rubros se observa que está acorde con lo que se hace actualmente, por lo tanto SE

[2019-11-07 15:40] mcrubianot commented on #603
Se envia el siguiente mensaje

de: | Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | jvela.idexud@hotmail.com
Cc: | mhelenagonzalez@hotmail.com,carlos108y@hotmail.com,mcrubianot@udistrital.edu.co
fecha: | 7 nov. 2019 10:38
asunto: | Acta No.02 - Kronos - Idexud - Invitac

[2019-11-08 15:38] mcrubianot commented on #603
Se recibe el siguiente correo por parte de uno de los usuarios

de: | Jhovan Vela <jvela.idexud@hotmail.com>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
Cc: | "mhelenagonzalez@hotmail.com" <mhelenagonzalez@hotmail.com>,"carlos108y@hotmail.com" <carlos108y@hotmail.com>
fecha: | 8 nov. 2019 9:37
asunto: | RE: Acta No.02 - Kronos - Idexud - Invitación para editar

Bueno

[2019-11-08 18:56] mcrubianot commented on #603
Se recibe el siguiente correo

de: | Financiera - IDEXUD <financieraidexud@udistrital.edu.co>
-- | --
para: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
fecha: | 8 nov. 2019 12:02
asunto: | Re: Idexud - HU - 01 A 10 - Registrar Rubro Presupuestal - Invitación para edita
para mí
Buenos días,

Sin observaciones.

Gracias!!

Cordialmente,

María Helena Gonzalez F.
--
Financiera

[2019-11-08 20:30] mcrubianot opened #605 "Revisión funcionalidad : rubros, preasignación,apropiación y productos"

[2019-11-08 20:31] mcrubianot commented on #605
Se hacen las revisiones del caso y se construye el siguiente documento

https://drive.google.com/open?id=1cgHZqCYwXUoieWNIJmBooKqTKtT7yau2

[2019-11-14 14:41] mcrubianot opened #606 "Revisión funcionalidad módulo de necesidades"

[2019-11-14 14:42] mcrubianot commented on #606
Se realizan las pruebas del caso, con 5 ejercicios diferentes.

https://docs.google.com/document/d/19XB9gCOTCCZHl8TNaYh3I-Uh2RXsWI8-/edit

[2019-11-14 14:44] mcrubianot opened #607 "Reunión de levantamiento de requerimientos con el Idexud - Acta No.3"

[2019-11-14 15:23] mcrubianot commented on #607
Se levanta la respectiva acta

https://docs.google.com/document/d/1Q8x8mPrlGgG072vWqWXurEzQ-BgkXtaKmRGCeEHQdcE/edit

[2019-11-14 20:00] mcrubianot commented on #607
Se compartió para aprobación por parte del idexud.

de: | Maria Claudia Rubiano ... (vía Documentos de Google) <drive-shares-noreply@google.com>
-- | --
responder a: | "Maria Claudia Rubiano ..." <mcrubianot@udistrital.edu.co>
para: | mcrubianot@udistrital.edu.co
Cc: | mhelenagonzalez@hotmail.com,carlosjpacheco10@gmail.com,jvela.idexud@hotmail.com
fecha: | 14 nov. 2019 14:38
asunto: | Acta No.03 -

[2019-11-15 13:10] Soulfilip-UD commented on #599
No se levanta el desarrollo ya que es una tarea extensa y compleja debido a lo acoplado que estan los subsistemas en el cliente y los APIs, por lo que se levanta un análisis de viabilidad basado en el informe realizado por @macaguegi en Mayo el cual analiza la última versión estable del sistema en comparación con las historias de usuario que fueron actualizadas.

Adjunto el link del documento: htt

[2019-11-18 13:35] Soulfilip-UD commented on #599
Reunión realizada, el documento anexaba la información necesaria para la toma de desiciones

Proceeding to close Issue 👾

[2019-11-18 13:35] #599 closed, assigned to Soulfilip-UD

[2019-11-21 16:34] mcrubianot opened #609 "Creación de rubros del Idexud y pruebas de la funcionalidad - Rubros presupuestales"

[2019-11-21 16:59] mcrubianot commented on #609
Con el fin de validar la creación de rubros presupuestales, se procede a la creación de los rubros del Idexud, de tal manera que sirvan de pruebas dentro de los diferentes procedimientos a desarrollar.

Se encontraron aspectos tales como:

- [ ] Me saco del sistema y al volver a ingresas y no despliego la lista de rubros

- [ ] Hay momentos en los que se genera un error "Error interno en el servid

[2019-11-21 23:19] mcrubianot commented on #609
Se envio correo con los pantallazos correspondientes, después de las indicaciones por parte del Ing Juan Camilo.

[2019-11-28 18:58] mcrubianot opened #610 "Análisis para la definición del numero de dígitos del nivel 8 del Plan de cuentas presupuestal."

[2019-11-28 19:10] mcrubianot commented on #610
Se elabora el siguiente documento como soporte de este análisis.

https://drive.google.com/open?id=16Thuz5nHPS5b_bryAEs54hiIU6EFScIi

[2019-11-28 19:16] mcrubianot commented on #610
Se procede a corregir la historia de usuario con relación a la cantidad de dígitos que requiere dicho nivel que es de 4.

https://docs.google.com/spreadsheets/d/1tyJ9-GeceT5aJ3LYcR6LrvEzekKUitjduPRYYC1qlYc/edit#gid=1748349929

[2019-12-04 14:48] mcrubianot opened #611 "Socialización Inicio de mes y vigencia y Cierre de mes y vigencia"

[2019-12-04 14:49] mcrubianot commented on #611
Se elaboran los siguientes documentos
Inicio
https://drive.google.com/open?id=1vEY2sLsM75kdFp4W2c2K8JjVnyISPtpWETqn-pQrJds
Cierre
https://drive.google.com/open?id=1JWKcGfaKcIbkdZzUD81pIuy7i1_bviNSnzmwuugPMyY

[2019-12-04 21:39] juancsr commented on #609
Se hicieron ajustes correspondientes para registros de nivel 8 en adelante.

Issue resolved at: https://github.com/udistrital/plan_cuentas_mongo_crud/issues/158

[2019-12-04 21:55] mcrubianot commented on #609
El día de hoy se hacen pruebas con el ingeniero Juan Camilo y se observa que la creación de los rubros del nivel 8 en adelante fue ajustado.

Considero pertinente que el tema está finiquitado y solo quedaría la validación del por parte del usuario.

[2019-12-09 15:32] mcrubianot commented on #611
Se realiza sesión de trabajo el día 9 de diciembre de 2019 a las 8: 00.

Se hacen las aclaraciones del caso a los ingenieros Neider, Carlos y Felipe.

Se comparte el documento ejecución de gastos para el análisis de como deben quedar los datos para el cierre.

[2019-12-10 14:56] mcrubianot opened #612 "Presentación Subsistema de Presupuesto.- Gestión de Necesidades"

[2019-12-10 14:58] mcrubianot commented on #612
Se hace la debida invitación a las siguientes dependencias

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
-- | --
para: | Vicerrectoría Administrativa y Financiera Universidad Distrital <vicerrecadmin@udistrital.edu.co>,Vicerrectoría Académica Universidad Distrital <vicerrecacad@udistrital.edu.co>,"Instituto de Extensión y de Educación no formal (IDEXUD) Unive

[2019-12-10 15:00] mcrubianot commented on #612
Posteriormente se hace la invitación a las siguientes dependencias
Juridica Idexud
Juridica Rector

[2019-12-10 15:01] mcrubianot commented on #612
Se realiza la siguiente presentación y se muestra la gestión directamente en el aplicativo.

https://docs.google.com/presentation/d/12qO9ZECHFsOiSEGeM3uDA0E3otZqm0whwjQEjJn4G9s/edit?ts=5deab66b#slide=id.p1

https://pruebasnecesidades.portaloas.udistrital.edu.co/#/

[2019-12-10 15:04] mcrubianot commented on #612
Se levanta la siguiente acta y lista de asistencia

https://docs.google.com/document/d/1sWueC7aoNUjm8b3F-_9MP3t29ksC6tD25WOHGK_ThpY/edit

https://drive.google.com/open?id=0B-BNiTbtzIfeTm54VFBBVXJES29nTkEtbng4czNQNzg3N0xv

[2019-12-10 17:08] mcrubianot commented on #612
Recomendaciones

https://github.com/udistrital/necesidades_cliente/issues/174

[2019-12-12 20:14] mcrubianot opened #613 "Corrección Historias de usuario"

[2019-12-12 20:15] mcrubianot commented on #613
Se corrigen las siguientes HU por solicitud del líder técnico

HU - 46 Modificaciones Presupuestales V3 https://docs.google.com/spreadsheets/d/17N6NHjPBpVMrEp55Csjl4aFKhph37BUZcnjORt1s1mw/edit#gid=2083944881

HU - 12 A 13 Crear Fuentes de Financiamiento V3 https://docs.google.com/spreadsheets/d/17yTvgXMPHdUq0ZZQvo7Iq_I_gJlhpQXf8_lf5L05B2U/edit#gid=618226458

[2019-12-13 19:04] DianaPatriciaRamirez commented on #611
Se finaliza actividad. Se recomienda que si alguno de los ingenieros que están desarrollando estos módulo de inicio (@NeiderFajardo Neider Fajardo) y cierre de vigencia (@CarlosGutierrezArdila Carlos Gutiérrez) tienen alguna duda por favor consultar con Maria Claudia Rubiano.

[2019-12-13 19:04] #611 closed, assigned to mcrubianot

[2019-12-13 20:22] DianaPatriciaRamirez commented on #613
La analista de requerimientos revisó las observaciones del líder técnico Felipe Canasto y se confirman los siguientes datos:

- [x] [HU - 46 Modificaciones Presupuestales V3](https://docs.google.com/spreadsheets/d/17N6NHjPBpVMrEp55Csjl4aFKhph37BUZcnjORt1s1mw/edit#gid=2083944881). Se confirma que el formato de la fecha es el mismo que se indicó en la HU: dd/mm/aaaa

- [x] [HU - 12 A 13 Crear Fuente

[2019-12-13 20:22] #613 closed, assigned to mcrubianot

[2019-12-17 17:37] #550 closed, assigned to mcrubianot

[2019-12-17 17:45] #546 closed, assigned to mcrubianot

[2019-12-17 20:20] #545 closed, assigned to mcrubianot

[2019-12-17 20:26] #559 closed, assigned to mcrubianot

[2019-12-17 20:26] #554 closed, assigned to mcrubianot

[2019-12-17 20:28] #560 closed, assigned to mcrubianot

[2019-12-17 20:29] #564 closed, assigned to mcrubianot

[2019-12-17 20:30] #565 closed, assigned to mcrubianot

[2019-12-17 20:35] #569 closed, assigned to mcrubianot

[2019-12-17 20:39] #575 closed, assigned to mcrubianot

[2019-12-17 20:41] #574 closed, assigned to mcrubianot

[2019-12-17 20:42] #581 closed, assigned to mcrubianot

[2019-12-18 20:31] mcrubianot commented on #612
Posteriormente a la reunión se envió el siguiente correo

de: | Oficina Asesora de Sistemas Universidad Distrital <computo@udistrital.edu.co>
-- | --
para: | Natalia Perez Fernandez <nperezf@udistrital.edu.co>,CARLOS ALBERTO ARROYAVE MENJURA <sigud.planeac3@udistrital.edu.co>,Janeth Molina Velandia <jmolinav@udistrital.edu.co>,Banco de proyectos - Planeacion <bancodeproyectos@udistrital.edu.co>,Vi

[2019-12-18 20:31] mcrubianot commented on #612
A la fecha no se ha recibido observación alguna al correo anterior.

[2019-12-23 15:34] mcrubianot opened #614 "Socialización modelo de comprobantes contables"

[2019-12-23 15:48] mcrubianot commented on #614
Con la finalidad de aclarar un poco más el tema de los comprobantes de contabilidad se elabora el siguiente documento:

https://docs.google.com/document/d/1eEzz5Q5FMKTu6ic-mlJK-0g8JHzlWhUT/edit#heading=h.gjdgxs

Y se anexa el listado resumen de comprobantes (ejemplo).

https://drive.google.com/open?id=1a9G1yOx55szU-cQi8jiZERjE37kZdWOg

[2019-12-24 01:02] DianaPatriciaRamirez commented on #598
HU 90-91-92 Plan de cuentas V3 Aprobada: https://drive.google.com/open?id=1jgNMD3_oy82FsBqQFN9e2STG_PTAYzAg

[2019-12-24 01:02] #598 closed, assigned to mcrubianot

[2019-12-24 01:20] DianaPatriciaRamirez commented on #614
Ingenieros David @davidmm07 y Felipe @Soulfilip-UD por favor revisen esta documentación y si existe alguna duda, consultarla con Maria Claudia antes del 27 de diciembre.

[2019-12-24 01:20] #614 closed, assigned to mcrubianot

[2019-12-24 16:08] DianaPatriciaRamirez commented on #602
En acta 22 del 30 de octubre de 2019, el usuario de la Oficina Asesora de Planeación aprueba los procedimientos:

1. Creación_Productos_V2: https://www.draw.io/#G1Bt8FOQQBDCxR-JO_ZtLDEAi17hV9Ykd_
2. Creación_Fuente_Financiamiento_V2: https://www.draw.io/#G1b5_8LGn7_Qs_AYD5a_7GsNHeSRL_WUIa
3. Asignar productos a un rubro: https://www.draw.io/#G1FtLr5RSzTP37ghpxtzbjV7U8XScHqGDW

y las respectivas hi

[2019-12-24 16:08] #602 closed, assigned to mcrubianot

[2019-12-24 16:59] DianaPatriciaRamirez commented on #547
En acta 15 del 22 de agosto de 2019 se realizó revisión y aprobación de los mockups para solicitud de Necesidad:

https://drive.google.com/drive/folders/16DrfSRB2AMEBitblaXCp0Sm83J6Xwavq
https://docs.google.com/document/d/1Qk9z7IWx11rtHLpyzE-m5g-aV1tRz2d1UKXmcb5dguo/edit

El 9 de diciembre de 2019 en acta 23, se presenta a los usuarios el módulo de necesidades:

https://pruebasnecesidades.portaloa

[2019-12-24 16:59] #547 closed, assigned to mcrubianot

[2019-12-26 17:14] DianaPatriciaRamirez commented on #557
Ya se encuentra la V3 de las HU:

HU - 40 A 42 - Anulacion Total y Parcial de Reservas V3 https://docs.google.com/spreadsheets/d/1KtBll3BwQrJiiUd24AZruAUpoHvCa8uko1WQtM4utsE/edit#gid=852078008

@mcrubianot Por favor dejar la trazabilidad completa dentro de cada issue. Muchas gracias.

[2019-12-26 17:14] #557 closed, assigned to mcrubianot

[2019-12-26 17:19] DianaPatriciaRamirez commented on #555
Ya existe una Versión 3 de las HU:

HU - Productos V3 https://docs.google.com/spreadsheets/d/1dT4e0Ar-jDmqI73gOMALkVvyIueQ9LGF7X1hDlKj6Dk/edit#gid=852078008

HU - 18 Asignación de Productos a un rubro V3 https://docs.google.com/spreadsheets/d/1rQXDV6SE4MMn0rylUfC5tZN74_UQ3UavWBlsSZUtMBs/edit#gid=852078008

[2019-12-26 17:19] #555 closed, assigned to mcrubianot

[2019-12-26 17:21] DianaPatriciaRamirez commented on #561
@mcrubianot Por favor adjuntar correo en el cual el usuario aprobó el acta 7 de 2019.

[2019-12-26 20:07] #562 closed, assigned to mcrubianot

[2019-12-26 20:08] #563 closed, assigned to mcrubianot

[2019-12-26 20:16] #566 closed, assigned to mcrubianot

[2019-12-26 20:43] DianaPatriciaRamirez commented on #568
@mcrubianot Por favor adjuntar correo en el cual el usuario aprobó el acta 9 de 2019.

[2019-12-26 20:46] DianaPatriciaRamirez commented on #571
@mcrubianot Por favor adjuntar evidencia de aprobación de estas HU por parte del IDEXUD.

[2019-12-26 20:46] #571 closed, assigned to mcrubianot

[2019-12-26 20:58] #590 closed, assigned to mcrubianot

[2019-12-26 21:00] DianaPatriciaRamirez commented on #582
@mcrubianot La Oficina Asesora de Planeación y Control aprobó estas HU?

[2019-12-26 21:04] DianaPatriciaRamirez commented on #578
@mcrubianot Pendiente adjuntar evidencia de aprobación del procedimiento y del acta por parte del usuario final.

Acta No.12 - Kronos https://docs.google.com/document/d/1OF80wW4BTrCTDADjIdRv-1MS-X-FHhQCAjXCq6m44nA/edit

[2019-12-26 21:04] Soulfilip-UD commented on #591
Ajustes realizados

<img width="725" alt="Screen Shot 2019-12-26 at 4 03 49 PM" src="https://user-images.githubusercontent.com/50924615/71490562-52efab00-27f9-11ea-80a6-94ea2f8b05a0.png">

Se puede proceder a cerrar el Issue 👾

[2019-12-26 21:12] #580 closed, assigned to mcrubianot

[2019-12-26 21:18] DianaPatriciaRamirez commented on #556
@mcrubianot

- [ ] Falta la generación de la versión 3 de la HU - 52 - Editar Solicitud de Necesidad.
- [ ] Queda pendiente aprobación por parte de los usuarios finales.

[2019-12-26 21:19] #610 closed, assigned to mcrubianot

[2019-12-26 21:20] #605 closed, assigned to mcrubianot

[2019-12-26 21:22] #609 closed, assigned to mcrubianot

[2019-12-26 21:22] DianaPatriciaRamirez commented on #607
@mcrubianot Falta aprobación del acta por parte del IDEXUD.

[2019-12-26 21:23] #606 closed, assigned to mcrubianot

[2019-12-26 21:25] #591 closed, assigned to mcrubianot

[2019-12-26 21:25] #604 closed, assigned to mcrubianot

[2019-12-26 21:29] #603 closed, assigned to mcrubianot

[2019-12-26 21:30] #597 closed, assigned to mcrubianot

[2019-12-26 21:31] #596 closed, assigned to mcrubianot